
@model Admin.LayoutPage.Controllers.MenuPageModel
@using ComponentUILibrary.Models
@using static Admin.LayoutPage.Constants.MenuConstants;
@using Admin.LayoutPage.Database;
@using PartialView = Admin.LayoutPage.Constants.MenuConstants.StaticPath.PartialView ;
@using ComponentUILibrary.ViewComponents;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["PageTitle"] = Model.PageTitle.ModuleName;

}

@*@await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.PageTitleComponent), new { model = Model.PageTitle })*@
<section class="section">
    <div class="row" id="table-hover-row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card">

                <div class="card-header">

                    <form id="SearchForm" class="row col-xl-12 col-sm-12 cms-filter-row">
                        <!--filter action-->

                        <div style="padding:0" class="col-sm-3 cms-filter">
                            @*<a type="button" href="@Config.Route.PageEdit" class="btn btn-primary ">
                                    New
                                </a>*@
                            <button class="btn btn-primary" type="button" onclick="_action.EditModal(0)" id="buttonNew">Thêm Menu</button>

                        </div>
                        <!--filter action-->

                    </form>

                    @*<div class="form-group ml-auto  col-auto cms-setting">
                            <i onclick="OpenSettingModal()" class="fas fa-cog "></i>
                        </div>*@
                </div>
                <div class="card-content p-lg-2 pr-2 cms-div-table ">
                    <!-- table hover -->
                    @*<div class="table-responsive">
                            @{
                                ComponentUILibrary.Models.TableData table = new ComponentUILibrary.Models.TableData();
                                table.ID = "test2";
                                table.Class = "table table-hover bg-white mb-0 ";
                                table.Body = Model.ListHTML;
                                table.Type = "Html";
                                table.CheckAllCol = false;

                                List<TableHead> tableHead = new List<TableHead>();
                                tableHead.Add(new TableHead { Name = "Tiêu đề" });
                                tableHead.Add(new TableHead { Name = "URL" });
                                tableHead.Add(new TableHead { Name = "Level" });
                                tableHead.Add(new TableHead { Name = "Active", Width = 1, Class = "text-right" });
                                tableHead.Add(new TableHead { Name = "Action", Width = 1 });
                                tableHead.Add(new TableHead { Name = "", Width = 1 });
                                table.Header = tableHead;
                            }
                            @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.TableComponent), new { table = table })


                        </div>*@

                    <!-- table hover -->
                    <div id="divTableTree">
                        @await Html.PartialAsync(StaticPath.PartialView.Index_TableTree, Model)

                    </div>

                    @*@{

                            TableTreeModel aaa = new TableTreeModel();
                            aaa.ID = "Cate";
                            aaa.Name = "Cate";
                            aaa.Class = "Cate";
                            aaa.MapToObj(Model.List, "Pid", "Title", "ParentID", "Order");
                        }
                        @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.TableTreeComponent), aaa)*@
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6  col-sm-12">
            @Html.Partial("/Views/MenuStyle/Index.cshtml", Model._pageMenuStyleModel)
            <div class="card mt-2">

                <div class="card-header">


                </div>
                <div class="card-content p-lg-2 pr-2 cms-div-table ">

                </div>
            </div>
        </div>

    </div>

    @*    <div id="divModalInfo">*@
    <!-- modal -->
    @*        @await Html.PartialAsync(Model._PartialUrl+Model._PartialModel,Model.ModelMenu)
    *@
    <div class="modal fade" id="ModalEditData" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ModalEditData" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModelDataLabel">Thông tin Menu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="" id="divModalEditData">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" onclick="_action.SaveModal('uploadForm')" class="btn btn-primary">Lưu</button>


                </div>
            </div>
        </div>
    </div>
    @*    </div>
    *@
    <!-- modal -->
    <!-- Modal config -->
    <div id="divModalConfig">
        @{
            ConfigModalModel configModel = new ConfigModalModel();
            configModel.BodyUrl = PartialView.Index_ModalConfig;
            configModel.GetConfigModel(Model.Configs);
        }
        @await ConfigModalComponent.Render(ViewContext, configModel)

    </div>

    <!-- end Modal config -->


    @Html.AntiForgeryToken()

</section>
@*<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
        Tooltip on top
    </button>*@
<!-- Hoverable rows end -->
@section Scripts{
    <script asp-append-version="true" src="@Url.Content(ModuleInfo.PathCommand)/menu/index.js"></script>

    <script>
        const ModelView = {
            RouteIndex: "@Route.PageIndex",
            DivModalDataID: "divModalInfo",
            ModalDataID: "ModelData",
            DivModalConfigID: "divModalConfig",
            ModalConfigID: "ModelConfig",
            @*TableDataID: "@table.ID",
            TbodyId: "tdBody_@table.ID",*@
            FromUploadID: "uploadForm",
            NavPagingID: "navigation_paging",
            FileUploadID: "Images",
            SearchFormID: "SearchForm"
        }
        let _action = new AdminMenu_Index(ModelView);
        _action.CheckFunction();
        //var dragger
        function OpenSettingModal() {
            $("#myModal2").modal("show")
        }
        function CloseSettingModal() {
            $("#myModal2").modal("hide")
        }
        function ChangeFilter() {
            $("#sort-amount").html('<i  class="fas fa-sort-amount-down-alt"></i>')
        }

        $(function () {
            $('[data-toggle="tooltip"]').tooltip();


            //InitDragDropTable()
        });




    </script>
}