@using ComponentUILibrary.Models
@using ComponentUILibrary
@using Steam.Core.ComponentUILibrary.Constant
@model DatePickerModel
@{
    string VirtualFolder = ComponentUILibraryConstant.VirtualFolder;

}
@if (Model.FirstLoadLIb)
{

    <link href="@Url.Content(VirtualFolder+DatePickerConstants.PathLib)/css/datepicker.css" rel="stylesheet" />
    <script src="@Url.Content(VirtualFolder+DatePickerConstants.PathLib)/js/datepicker.js"></script>
    <style>
        .datepicker-container {
            z-index: 9999 !important
        }
    </style>
}


@*<script src="~/assets/vendors/datepicker/js/main.js"></script>
*@
@*<div class="docs-datepicker">
        <div class="input-group">
            <input type="text" class="form-control docs-date" name="date" placeholder="Pick a date" autocomplete="off">
            <div class="input-group-append">
                <button type="button" class="btn btn-outline-secondary docs-datepicker-trigger" >
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="docs-datepicker-container"></div>
    </div>*@
<div class="@Model.ClassContainner">
    <div class="input-group">
        <input type="text" class="form-control " id="@Model.Id" value="@Model.Value" name="@Model.Id" placeholder="@Model.Placeholder">
        <span class="input-group-text">
            <i class="fa fa-calendar" aria-hidden="true"></i>
        </span>
    </div>
    <div class="docs-datepicker-container"></div>

</div>
<script>

    var options_@Model.Id = {
        show: function (e) {
            //  console.log(e.type, e.namespace);
        },
        hide: function (e) {
            //  console.log(e.type, e.namespace);
        },
        pick: function (e) {
            //  console.log(e.type, e.namespace, e.view);
        }
        ,
        autoHide: true,
        format: 'dd/mm/yyyy'

        //trigger: $('.docs-datepicker-trigger')
    };
    $(`#@Model.Id`).datepicker('reset').datepicker('destroy').datepicker(options_@Model.Id);

    $(`#@Model.Id`).on("change", function () {
    });
</script>
