@using CMS.Services.TranslateServices
@using CmsModels;
@inject ITranslateServices _translate

<div class="list-displayCode d-flex align-items-center">
    <div class="mt-2 mr-3"><label class="tt-label mb-0">Loại</label></div>
    <div class="groupRadio">
        <div class="custom-control custom-radio">
            <input type="radio"
                   onclick="ChangeDisplayType(this.value)"
                   id="display-type-1"
                   name="display-type"
                   value="normal"
                   class="custom-control-input"
                   checked />
            <label class="custom-control-label"
                   for="display-type-1">Ảnh</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio"
                   onclick="ChangeDisplayType(this.value)"
                   id="display-type-2"
                   name="display-type"
                   value="embed-code"
                   class="custom-control-input" />
            <label class="custom-control-label"
                   for="display-type-2">Mã nhúng</label>
        </div>
    </div>
</div>
<div class="rowForm">
    <div class="images__wrapper">
        <div class="images__main">
            <div id="imgPicThumb" style="background-image: url('/b-admin/dist/img/avatar3.jpg');" class="avatar"></div>
            <div class="form-group form-InputFile">
                <label class="tt-label">@_translate.GetStringAdmin("label.avatar")</label>
                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                    <div id="imgPicThumbFileName" class="d-none form-control text-truncate" data-trigger="fileinput">
                        <i class="glyphicon glyphicon-file fileinput-exists"></i>
                        <span class="fileinput-filename"></span>
                    </div>
                    <span class="input-group-append">
                        <span class="btn btn-primary btn-file">
                            <span class="fileinput-new">@_translate.GetStringAdmin("label.choose-file")</span>
                            <span class="fileinput-exists">@_translate.GetStringAdmin("label.change")</span>
                            <input onchange="readURL(this,'#imgPicThumb',0);" type="file" name="Images" />
                        </span>
                        <a role="button"
                           href="#"
                           onclick="ClearImages('#imgPicThumb')"
                           class="btn btn-secondary fileinput-exists"
                           data-dismiss="fileinput">@_translate.GetStringAdmin("label.delete")</a>
                    </span>
                </div>
                <small class="form-text text-muted">
                    @_translate.GetStringAdmin("label.format-images") (.gif, .png, .jpg, .jpeg)
                </small>
            </div>
        </div>
    </div>
    <div class="group-info">
        <div class="row">
            <!-- Tiêu đề -->
            <div class="col-12">
                <div class="form-group mb-3">
                    <label class="tt-label">@_translate.GetStringAdmin("slide.lbl-title")</label>
                    <input class="form-control raw"
                           id="Title"
                           name="Title"
                           placeholder="@_translate.GetStringAdmin("slide.plh-title")"
                           value=""
                           type="text"
                           required />
                </div>
            </div>
            <div id="PageRow" class="col-12 col-md-6 pr-md-1">
                <div class="form-group">
                    <label class="tt-label">@_translate.GetStringAdmin("label.page-display")</label>
                    <select id="Page" name="Page" class="form-control">
                    </select>
                </div>
            </div>
            <div id="DelayTimeRow" class="col-12 col-md-6 pl-md-1">
                <div class="form-group mb-3">
                    <label class="tt-label">Popup xuất hiện sau (giây)</label>
                    <input class="form-control raw"
                           id="DelayTime"
                           name="DelayTime"
                           placeholder="Popup xuất hiện sau... "
                           value="2"
                           type="number" />
                </div>
            </div>

            <div id="LinkRow" class="col-12 col-md-6 pr-md-1">
                <div class="form-group">
                    <label class="tt-label">@_translate.GetStringAdmin("slide.lbl-link")</label>
                    <input class="form-control raw"
                           id="Link"
                           name="Link"
                           placeholder="@_translate.GetStringAdmin("slide.plh-link")"
                           value=""
                           type="text" />
                </div>
            </div>
            <div id="TargetRow" class="col-12 col-md-6 pl-md-1">
                <div class="form-group">
                    <label class="tt-label">@_translate.GetStringAdmin("label.target-link")</label>
                    <select onchange="SaveRawData()" id="TargetLink" name="TargetLink" class="form-control select2">
                        <option value="_self">@_translate.GetStringAdmin("label.current-tab")</option>
                        <option value="_blank">@_translate.GetStringAdmin("label.new-tab")</option>
                    </select>
                </div>
            </div>
            <!-- Editor -->
            <div hidden class="col-12">
                <div class="form-group mb-3">
                    <label class="tt-label">@_translate.GetStringAdmin("slide.lbl-description")</label>
                    <textarea class="form-control raw"
                              id="Description"
                              name="Description"
                              placeholder="@_translate.GetStringAdmin("slide.plh-description")"
                              value=""
                              type="text"
                              rows="5"></textarea>
                </div>
            </div>
            <div id="EmbedCodeRow" class="col-12">
                <div class="form-group mb-3">
                    <label class="tt-label">@_translate.GetStringAdmin("slide.lbl-embed-code")</label>
                    <textarea class="form-control raw"
                              id="EmbedCode"
                              name="EmbedCode"
                              placeholder="@_translate.GetStringAdmin("slide.plh-embed-code")"
                              value=""
                              type="text"
                              rows="5"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="col-sm-9 mb-2">
        <div class="custom-control custom-radio mb-5 d-inline-block mr-3">
            <input onclick="ChangeDisplayType()" id="display-type-1" name="display-type" class="custom-control-input" value="normal" type="radio">
            <label class="custom-control-label" for="display-type-1">Hiển thị bằng ảnh</label>
        </div>
        <div class="custom-control custom-radio mb-5 d-inline-block mr-3">
            <input onclick="ChangeDisplayType()" id="display-type-2" name="display-type" class="custom-control-input" value="embed-code" type="radio">
            <label class="custom-control-label" for="display-type-2">Hiển thị bằng mã nhúng</label>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3">@_translate.GetStringAdmin("slide.lbl-title")</label>
        <div class="col-sm-9">
            <input id="Title" name="Title" type="text" placeholder="@_translate.GetStringAdmin("slide.plh-title")" class="form-control form-control-sm raw">
        </div>
    </div>
    <div hidden class="form-group row">
        <label class="col-sm-3">@_translate.GetStringAdmin("slide.lbl-description")</label>
        <div class="col-sm-9">
            <textarea rows="10" id="Description" name="Description" type="text" placeholder="@_translate.GetStringAdmin("slide.plh-description")" class="form-control form-control-sm raw"></textarea>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3">@_translate.GetStringAdmin("label.location")</label>
        <div class="col-sm-9">
            <select id="Page" multiple="multiple" name="Page" class="form-control form-control-sm">
            </select>
        </div>
    </div>

    <div id="EmbedCodeRow" class="form-group row">
        <label class="col-sm-3">@_translate.GetStringAdmin("slide.lbl-embed-code")</label>
        <div class="col-sm-9">
            <textarea rows="10" id="EmbedCode" name="EmbedCode" type="text" placeholder="@_translate.GetStringAdmin("slide.plh-embed-code")" class="form-control form-control-sm raw"></textarea>
        </div>
    </div>

    <div hidden class="form-group row">
        <label class="col-sm-3">@_translate.GetStringAdmin("slide.lbl-text-position")</label>
        <div class="col-sm-9">
            <div class="custom-control custom-radio mb-5 d-inline-block mr-3">
                <input onclick="SaveRawData()" id="text-position-1" name="text-position" class="custom-control-input" value="left" checked="" type="radio">
                <label class="custom-control-label" for="text-position-1">@_translate.GetStringAdmin("slide.lbl-left")</label>
            </div>
            <div class="custom-control custom-radio mb-5 d-inline-block mr-3">
                <input onclick="SaveRawData()" id="text-position-2" name="text-position" class="custom-control-input" value="center" type="radio">
                <label class="custom-control-label" for="text-position-2">@_translate.GetStringAdmin("slide.lbl-center")</label>
            </div>
            <div class="custom-control custom-radio d-inline-block mr-3">
                <input onclick="SaveRawData()" id="text-position-3" name="text-position" class="custom-control-input" value="right" type="radio">
                <label class="custom-control-label" for="text-position-3">@_translate.GetStringAdmin("slide.lbl-right")</label>
            </div>
        </div>
    </div>
    <div id="LinkRow" class="form-group row">
        <label class="col-sm-3">@_translate.GetStringAdmin("slide.lbl-link")</label>
        <div class="col-sm-9">
            <input id="Link" name="Link" type="text" placeholder="@_translate.GetStringAdmin("slide.plh-link")" class="form-control form-control-sm raw">
        </div>
    </div>
    <div id="PicThumbRow" class="form-group">
        <div class="d-flex flex-wrap align-items-center">
            <div id="imgPicThumb" style="background-image: url('/b-admin/dist/img/avatar3.jpg');" class="avatar avatar-xl border rounded mr-3 mb-4 ">
            </div>
            <div class="col-md-9 form-group">
                <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                    <div class="form-control text-truncate" data-trigger="fileinput">
                        <i class="glyphicon glyphicon-file fileinput-exists"></i>
                        <span class="fileinput-filename"></span>
                    </div>
                    <span class="input-group-append">
                        <span class=" btn btn-primary btn-file">
                            <span class="fileinput-new">@_translate.GetStringAdmin("label.choose-file")</span>
                            <span class="fileinput-exists">@_translate.GetStringAdmin("label.change")</span>
                            <input onchange="readURL(this,'#imgPicThumb',0);" type="file" name="Images">
                        </span>
                        <a role="button" href="#" onclick="ClearImages('#imgPicThumb')" class="btn btn-secondary fileinput-exists" data-dismiss="fileinput">@_translate.GetStringAdmin("label.delete")</a>
                    </span>
                </div>
                <small class="form-text text-muted">@_translate.GetStringAdmin("label.format-images") (.gif, .png, .jpg, .jpeg) | @_translate.GetStringAdmin("label.popup-dimension")</small>
            </div>
        </div>
    </div>*@

