@using X.PagedList
@using Admin.ProductManagement.DataTransferObjects;
@using Admin.ProductManagement.Constants;
@using Steam.Core.Common.SteamString;
@using Admin.ProductManagement.DataTransferObjects.Product;
@model List<ProductDetailDto>;


@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <tr id="@item.Pid">
            <td width="1">
                <div class="form-check form-check-sm handle">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="form-check-input form-check-primary form-check-glow checkItem" value="@item.Pid" id="checkItem_@item.Pid">
                    </div>
                </div>
            </td>
            <td class="text-bold-500">@Html.Raw(item.Sku)</td>
            <td class="text-bold-500">@Html.Raw(item.Title)</td>
            <td class="text-bold-500">@Html.Raw(item.Size)</td>
            <td class="text-bold-500"><div style="background-color:@Html.Raw(item.ColorValue);height:30px;width:30px;border-radius:5px;"></div></td>
            <td class="text-bold-500">@Html.Raw(item.SellingPrice.FormatToMoney())</td>
            <td class="text-center">
                <i onclick="_action.Delete(@item.Pid, @item.ParentPid)" class="cursor-pointer  text-danger fas fa-trash-alt"></i>
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="8" class="text-center">
            <span>Không có dữ liệu!!</span>
        </td>

    </tr>
}
