@using Admin.LayoutPage.Constants;
@using ComponentUILibrary.Models

@model Admin.LayoutPage.Database.QuickToolBarItem;

    <div class="modal fade" id="modalMenuItemEdit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalMenuItemEdit" aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered modal-lg modal-full" role="document">
            <div class="modal-content">

                <div class="modal-header ">

                    <h4 class="modal-title justify-content-center " id="myModalLabel2">@(Model.Pid == 0 ? "Thêm nội dung" : "Cập nhật nội dung")</h4>
                    <button type="button" class="btn-close" onclick="CloseModalEdit(true)" aria-label="Close"></button>

                </div>

                <div class="modal-body">
                    <div class="tab-content" id="myTabContent">
                        <form id="QuickToolBarItemForm" class="form form-vertical mt-3">
                            <div class="form-body">
                                <div class="mt-2">
                                    <input hidden id="@nameof(Model.Pid)" name="@nameof(Model.Pid)" value="@(Model.Pid)">
                                    @*<input hidden id="QuickToolBarPid" name="QuickToolBarPid" value="@(Model.QuickToolBarPid)">*@

                                    <div class="form-group">
                                        <label for="title">Tên</label>
                                        <input required type="text" class="form-control" id="Title" value="@Model.Title" name="Title" aria-describedby="Title" placeholder="nhập tên...">
                                    </div>
                                    <div class="form-group">
                                        <label for="title">Key</label>
                                        <input type="text" class="form-control" id="Key" value="@Model.Key" name="Key" aria-describedby="Key" placeholder="nhập Key...">
                                    </div>
                            



                                    <div class="form-group">
                                        <label for="ItemBlock">QuickToolBar Item Block</label>

                                        @{

                                            CodeMirrorModel codeMirrorItemBlock = new CodeMirrorModel();
                                            codeMirrorItemBlock.Id = "ItemBlock";
                                            codeMirrorItemBlock.Content = Model.ItemBlock;
                                        }
                                        @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.CodeMirrorComponent), codeMirrorItemBlock)
                                    </div>
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="button" onclick="_action.SaveChild('QuickToolBarItemForm')" class="btn btn-primary me-1 mb-1">
                                            @(Model.Pid == 0 ? "Add" : "Update")
                                        </button>
                                    </div>
                                    @*</div>*@

                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div>
<script>
    function ShowMediaBox() {
        var selectedValue = $("input[type=radio][name=TypeMedia_radio]:checked").val();
        if (selectedValue == "image") {
            $("#ImageBox").show();
            $("#VideoBox").hide();
        } else {
            $("#ImageBox").hide();
            $("#VideoBox").show();
        }
    }
    $(document).ready(function () {
        ShowMediaBox();

        // Add an event listener to the checkbox for changes
        $("input[type=radio][name=TypeMedia_radio]").on("change", function () {
            //if ($("input[type=radio][name=TypeMedia_radio]:checked").val() == "image") {
            //    $("#ImageBox").show();
            //    $("#VideoBox").hide();
            //}
            //else {
            //    $("#ImageBox").hide();
            //    $("#VideoBox").show();
            //}
            ShowMediaBox()
        });

    });
</script>

    
