@model Admin.ProductManagement.Controllers.ProductSpecificatyController.EditModel
@using Admin.ProductManagement.Constants;

@using ComponentUILibrary.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["PageTitle"] = Model.PageTitle.ModuleName;
}

<section class="section ">
    <div class="row" id="">
        <div class="col-12">
            <div class="card">
                <div class="card-content p-lg-2 pr-2">
                    <form id="uploadForm" class="mt-2">
                        <input hidden id="Pid" class="pid" name="Pid" value="@Model.Detail.Pid">

                        <input hidden id="Group"  name="Group" value="SIZE">


                        <div class="form-group">
                            <label for="Content">Mã</label>
                            <input class="form-control" name="Code" value="@Html.Raw(Model.Detail.Code)" />
                        </div>

                        <div class="form-group">
                            <label for="Content">Tên Size</label>
                            <input class="form-control" name="Name" value="@Html.Raw(Model.Detail.Name)" />
                        </div>

                        <div class="form-group">
                            <label for="Content">Giá trị</label>
                            <input class="form-control" value="@Html.Raw(Model.Detail.Value)" id="Value" name="Value" />
                        </div>
                    </form>
                    <div class="modal-footer">
                        <a type="button" href="@(ProductSpecificatyConstants.ConfigRoute.PageIndex+"/"+Model.Group)" class="btn btn-secondary" >Đóng</a>
                        <button type="button" id="btnSaveForm" onclick="_action.Save('uploadForm')" class="btn btn-primary">Lưu</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    @Html.AntiForgeryToken()
    .
</section>
@section Scripts{
    <script asp-append-version="true" src="@(ProductSpecificatyConstants.ModuleInfo.PathCommand)commands/ProductSpecificatyCommand.js"></script>
    <script asp-append-version="true" src="@(ProductSpecificatyConstants.ModuleInfo.PathCommand)commands/ProductSpecificaty/edit.js"></script>

    <script>
        const ModelView = {
            RouteIndex: "@(ProductSpecificatyConstants.ConfigRoute.PageIndex+"/"+Model.Group)",
            DivModalDataID: "divModalInfo",
            ModalDataID: "ModelData",
            DivModalConfigID: "divModalConfig",
            ModalConfigID: "ModelConfig",
            FromUploadID: "uploadForm",
            NavPagingID: "navigation_paging",
            FileUploadID: "Images",
            SearchFormID: "SearchForm"
        }
        let _action = new AdminProductSpecificaty_Edit(ModelView);
        _action.CheckFunction();
        //var dragger
        function OpenSettingModal() {
            $("#myModal2").modal("show")
        }
        function CloseSettingModal() {
            $("#myModal2").modal("hide")
        }
        function ChangeFilter() {
            $("#sort-amount").html('<i  class="fas fa-sort-amount-down-alt"></i>')
        }

        $(function () {
            $('[data-toggle="tooltip"]').tooltip();


            //InitDragDropTable()
        });
    </script>
}