
@model Admin.Sample.Controllers.SampleController.PageModel
@using ComponentUILibrary.Models
@using Admin.Sample.Constants
@using ComponentUILibrary.ViewComponents;
@using PartialView = Admin.Sample.Constants.SampleConstants.StaticPath.PartialView ;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["PageTitle"] = Model.PageTitle.ModuleName;
}

<section class="section">
    <div class="row" id="table-hover-row">
        <div class="col-12">
            <div class="card">

                <div class="card-header">

                    <form id="SearchForm" class="col-12">
                        <!--filter action-->
                        @Html.AntiForgeryToken()
                        @{
                            SearchBarModel model = new SearchBarModel();
                            model.CustomSelects = new List<CustomSelect>();
                            CustomSelect test = new CustomSelect();
                            test.Data.Add(new Dictionary<string, string> { { "Test", "1" } });
                            test.Data.Add(new Dictionary<string, string> { { "Test2", "2" } });
                            test.Id = "TestBox";
                            model.CustomSelects.Add(test);
                        }
                        @await SearchBarComponent.Render(ViewContext, model)

                    </form>

                    <div class="form-group ml-auto  col-auto cms-setting">
                        @*<i onclick=" OpenSettingModal()" class="fas fa-cog "></i>*@
                    </div>
                </div>
                <div class="card-content p-lg-2 pr-2 cms-div-table ">
                    <!-- table hover -->
                    <div class="table-responsive">
                        @{
                            ComponentUILibrary.Models.TableData table = new ComponentUILibrary.Models.TableData();
                            table.ID = "test2";
                            table.Class = "table table-hover bg-white mb-0 ";
                            table.Body = await Html.PartialAsync(PartialView.Index_Table, Model.List);

                            List<TableHead> tableHead = new List<TableHead>();
                            tableHead.Add(new TableHead { Name = "#", Width = 50, Filter = "ASC", OrderBy = "Order" });
                            tableHead.Add(new TableHead { Name = "Hình ảnh", Width = 1 });
                            tableHead.Add(new TableHead { Name = "Tiêu đề", Filter = "ASC", OrderBy = "Title" });
                            tableHead.Add(new TableHead { Name = "Mô tả" });
                            tableHead.Add(new TableHead { Name = "Active", Width = 1, Class = "text-right" });
                            tableHead.Add(new TableHead { Name = "Action", Width = 1 });
                            tableHead.Add(new TableHead { Name = "", Width = 1 });
                            table.Header = tableHead;
                        }
                        @*@await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.TableComponent), new { table = table })*@
                        @await TableComponent.Render(ViewContext, table)


                        <div class="row mx-0 mt-1 align-items-center">
                            <div class="col-12 col-sm-6">
                                <button type="button" onclick="_action.Enable(0,true)" class="btn btn-sm btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="" data-original-title="active"><i class="fas fa-eye"></i></button>
                                <button type="button" onclick="_action.Enable(0,false)" class="btn btn-sm btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="" data-original-title="inactive"><i class="fas fa-eye-slash"></i></button>
                                <button type="button" onclick="_action.Delete(0)" class="btn btn-sm btn-danger " data-toggle="tooltip" data-placement="top" title="" data-original-title="delete"><i class="fas fa-trash-alt t"></i></button>
                                <button type="button" onclick="_action.EnableUpdateOrder('edit')" class="btn btn-sm btn-outline-secondary " id="btnOrder" data-toggle="tooltip" data-placement="top" title="" data-original-title="order">
                                    <i class="fa-solid fa-arrow-down-up-across-line " style="--fa-beat-scale: 2.0;"></i>
                                </button>

                            </div>
                            <div class=" col-12 col-sm-6  align-items-center" id="divPaging">
                                <nav style="float:right" class="pagination-wrap d-inline-block" id="navigation_paging" aria-label="navigation">
                                    @{
                                        PaginationModel pageModel = new PaginationModel();
                                        pageModel.PageIndex = 1;
                                        pageModel.PageSize = Model.List.PageSize;
                                        pageModel.PageCount = Model.List.PageCount;
                                    }
                                    @await PaginationComponent.Render(ViewContext, Model.Pagination)



                                </nav>
                            </div>
                        </div>

                    </div>

                    <!-- table hover -->

                </div>
            </div>
        </div>
    </div>


    <!-- Modal config -->
    <div id="divModalConfig">
        @{
            ConfigModalModel configModel = new ConfigModalModel();
            configModel.BodyUrl = PartialView.Index_ModalConfig;
            configModel.GetConfigModel(Model.Configs);
        }
        @await ConfigModalComponent.Render(ViewContext, configModel)

    </div>

    <!-- end Modal config -->
    @Html.AntiForgeryToken()

</section>

<div class="add-new">
    <a type="button" href="@SampleConstants.Config.Route.PageEdit" class="btn btn-primary btn-add-new">
        <i class="fa-solid fa-plus"></i>
    </a>
</div>

<!-- Hoverable rows end -->
@section Scripts{
    <script asp-append-version="true" src="@(SampleConstants.ModuleInfo.PathCommand)/sample/index.js"></script>

    <script>
        const ModelView = {
            RouteIndex: "@SampleConstants.Config.Route.PageIndex",
            DivModalDataID: "divModalInfo",
            ModalDataID: "ModelData",
            DivModalConfigID: "divModalConfig",
            ModalConfigID: "ModelConfig",
            TableDataID: "@table.ID",
            TbodyId: "tdBody_@table.ID",
            FromUploadID: "uploadForm",
            NavPagingID: "navigation_paging",
            FileUploadID: "Images",
            SearchFormID: "SearchForm"
        }
        let _action = new AdminSample_Index(ModelView);
        _action.CheckFunction();
        //var dragger
        function OpenSettingModal() {
            $("#myModal2").modal("show")
        }
        function CloseSettingModal() {
            $("#myModal2").modal("hide")
        }
        function ChangeFilter() {
            $("#sort-amount").html('<i  class="fas fa-sort-amount-down-alt"></i>')
        }

        $(function () {
            $('[data-toggle="tooltip"]').tooltip();


            //InitDragDropTable()
        });




    </script>
}