@using ComponentUILibrary.Models;
@using Steam.Core.Common;

@using ConfigAdmin = Admin.LayoutPage.Constants.HeaderPageConstants.Config.Admin
@model List<ComponentUILibrary.ViewComponents.ConfigModel>
@using static Admin.LayoutPage.Constants.HeaderPageConstants

@using WebSiteConfig = Admin.LayoutPage.Constants.HeaderPageConstants.Config.Website
@using AdminConfig = Admin.LayoutPage.Constants.HeaderPageConstants.Config.Admin
<div class="card">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills" role="tablist">
            <li class="nav-item" role="presentation">
                <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-within-card-adminconfig" aria-controls="navs-pills-within-card-active" aria-selected="true">Admin</button>
            </li>
            <li class="nav-item" role="presentation">
                <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-within-card-websiteconfig" aria-controls="navs-pills-within-card-link" aria-selected="false" tabindex="-1">Website</button>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content p-0">
            <div class="tab-pane fade active show" id="navs-pills-within-card-adminconfig" role="tabpanel">
                <form id="Admin_HeaderPageConfig" class="form form-vertical mt-3">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-12 row">
                                <label for="MaxHeight">Kích thước hình tối đa</label>

                                <div class="form-group col-5">
                                    <input data-toggle="tooltip" data-placement="top" title="MaxWidth" type="text" id="@Config.Admin.MaxWidth" value="@Model.GetConfigValue(AdminConfig.MaxWidth)" class="form-control" name="@Config.Admin.MaxWidth" placeholder="MaxWidth">
                                </div>
                                <div class="form-group col-5">
                                    <input data-toggle="tooltip" data-placement="top" title="MaxHeight" type="text" id="@Config.Admin.MaxHeight" value="@Model.GetConfigValue(AdminConfig.MaxHeight)" class="form-control" name="@Config.Admin.MaxHeight" placeholder="MaxHeight">
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="form-group">
                                    <label for="PageSize">PageSize</label>
                                    <input data-toggle="tooltip" data-placement="top" title="PageSize" type="text" id="@Config.Admin.PageSize" class="form-control" value="@Model.GetConfigValue(AdminConfig.PageSize)" name="@Config.Admin.PageSize" placeholder="PageSize">
                                </div>
                            </div>

                            <div class="col-12 d-flex justify-content-end mt-2">
                                <button type="button" onclick="_action.SaveConfig('Admin_HeaderPageConfig','Admin')" class="btn btn-primary me-1 mb-1">Apply</button>
                                @*                                        <button type="reset" class="btn btn-light-secondary me-1 mb-1">Default</button>
                                *@
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="navs-pills-within-card-websiteconfig" role="tabpanel">
                <form id="Website_PostsSampleConfig" class=" mt-3 form form-vertical">
                    <div class="form-body">

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="AlwaysShowTop">Luôn hiển thị trên cùng</label>
                                    @{
                                        string checkboxValueAlwaysShowTop = string.Empty;
                                        checkboxValueAlwaysShowTop = Model.GetConfigValue(WebSiteConfig.AlwaysShowTop);
                                        //if (checkboxModelAlwaysShowTop != null)
                                        //{
                                        //    checkboxValueAlwaysShowTop = checkboxModelAlwaysShowTop.Value;
                                        //}
                                    }
                                    <input hidden value="0" name="@Config.Website.AlwaysShowTop">

                                    <input checkvalue="1" uncheckvalue="0" @(checkboxValueAlwaysShowTop == "1" ? "checked" : "") data-toggle="tooltip" data-placement="top" title="AlwaysShowTop" class="form-check-input" type="checkbox" id="@Config.Website.AlwaysShowTop" value="@checkboxValueAlwaysShowTop" name="@Config.Website.AlwaysShowTop">
                                </div>
                                <div class="form-group">
                                    <label for="ApiUpdateHeader">Api cập nhật Header</label>
                                    <input data-toggle="tooltip" data-placement="top" title="ApiUpdateHeader" type="text" id="@Config.Website.ApiUpdateHeader" class="form-control" value="@(Model.GetConfigValue(WebSiteConfig.ApiUpdateHeader))" name="@Config.Website.ApiUpdateHeader" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="ApiUpdatePreviewHeader">Api cập nhật preview Header</label>
                                    <input data-toggle="tooltip" data-placement="top" title="ApiUpdatePreviewHeader"
                                           type="text" id="@Config.Website.ApiUpdatePreviewHeader"
                                           class="form-control" value="@(Model.GetConfigValue(WebSiteConfig.ApiUpdatePreviewHeader))" name="@Config.Website.ApiUpdatePreviewHeader" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="ApiPreviewPage">Api Preview</label>
                                    <input data-toggle="tooltip" data-placement="top" title="ApiPreview" type="text" id="@WebSiteConfig.ApiPreviewPage" class="form-control" value="@(Model.GetConfigValue(WebSiteConfig.ApiPreviewPage))" name="@WebSiteConfig.ApiPreviewPage" placeholder="">
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-end mt-2">
                                <button type="button" onclick="_action.SaveConfig('Website_PostsSampleConfig','Webiste')" class="btn btn-primary me-1 mb-1">Aply</button>
                                @*                                        <button type="reset" class="btn btn-light-secondary me-1 mb-1">Default</button>
                                *@
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
