@model Admin.MemberManagement.Controllers.FeedbackEditModel

@using Admin.MemberManagement.Constants;
@using ComponentUILibrary.Models
<input hidden id="Pid" class="Pid" name="Pid" value="@Model.Detail.Pid">
<div class="row">
    <div class="form-group col">
        <label for="title">Tên</label>
        <input type="text" class="form-control" id="FullName" value="@Model.Detail.FullName" name="FullName" aria-describedby="FullName" placeholder="nhập tên...">
    </div>

    <div class="form-group col">
        <label for="title">Email</label>
        <input type="text" class="form-control" id="Email" value="@Model.Detail.Email" name="Email" aria-describedby="Email" placeholder="nhập Email...">
    </div>
    <div class="form-group col">
        <label for="title">SKU</label>
        <input type="text" class="form-control" id="SKU" value="@Model.Detail.SKU" name="SKU" aria-describedby="SKU" placeholder="nhập SKU...">
    </div>

</div>

<div class="form-group">
    <label for="title">Đánh giá</label>
    <input type="text" class="form-control" id="Rating" value="@Model.Detail.Rating" name="Rating" aria-describedby="Rating" placeholder="nhập đánh giá...">
</div>



<div class="form-group">
    <label for="Content">Nội dung</label>
    @{

        EditorModel editorContent = new EditorModel();
        editorContent.Id = "Content";
        editorContent.FirstLoadLib = true;
        editorContent.Height = 400;
        editorContent.Content = Model.Detail.Content;
    }
    @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.EditorTinymceComponent), editorContent)

</div>
