@using CMS.Services.TranslateServices;
@using CMS.Services
@using DTO.Feature;
@using DTO.Website;
@inject ITranslateServices _translate
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<FeatureDto> list = ViewBag.Data as List<FeatureDto>;
    int currentPage = ViewBag.CurrentPage;
    int lastpage = ViewBag.PageTotal;
    string banner = ViewBag.Banner as string;
    //List<FeatureCateDto> cateList = ViewBag.FeatureCateList as List<FeatureCateDto>;
    //List<AdvertisementDto> advertisements = ViewBag.Advertisements as List<AdvertisementDto>;
    PopupDto popup = ViewBag.Popup;
    int? popupDelayTime = null;
    if (popup != null)
    {
        popupDelayTime = popup.DelayTime;
    }
}

@section Meta{
    @Html.Raw(ViewBag.Meta)
}

@section Popup{
    @if (popup != null)
    {
        <div class="modal-body p-0" id="popupModalBody">
            @if (popup.DisplayType == "normal")
            {
                <a target="@(popup.TargetLink == "_blank" ? "_blank" : "")" href="@popup.Link"><img src="@popup.Image" title="@popup.Title" alt="@popup.Title"></a>
            }
            else
            {
                <div id="popupdiv"></div>
                <script>
                    let popupEmbedCode = convertEmbedCode('@popup.EmbedCode');
                    document.getElementById('popupdiv').innerHTML += popupEmbedCode;
                </script>
            }
        </div>
    }
}

@section Banner{
    <section class="banner-lg block-bg banner-page"
             style="background-image: url('@banner')">
        <div class="container d-flex align-items-center h-100">
            <div class="text-banner">
                <h1 class="tt-md f-secondary">@Html.Raw(_translate.GetString("menu.feature"))</h1>
                <nav arial-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="@Html.Raw(_translate.GetUrl("url.home"))"
                               title="@Html.Raw(_translate.GetString("menu.home"))"
                               alt="@Html.Raw(_translate.GetString("menu.home"))"
                               target="_self">
                                @Html.Raw(_translate.GetString("menu.home"))
                            </a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="@Html.Raw(_translate.GetUrl("url.feature"))"
                               title="@Html.Raw(_translate.GetString("menu.feature"))"
                               alt="@Html.Raw(_translate.GetString("menu.feature"))"
                               target="_self">
                                @Html.Raw(_translate.GetString("menu.feature"))
                            </a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>
}

<section class="block-bg">
    <div class="container py-5 py-xl-6">
        <div class="text-center">
            <div class="title-box">
                <h2 class="tt-lg">@Html.Raw(_translate.GetString("feature.feature"))</h2>
            </div>
            <div class="desc mb-4 w-md-75 w-xl-50 mx-auto">
                @Html.Raw(_translate.GetString("feature.feature-intro"))
            </div>
        </div>
        @if (list.Any())
        {
            <div class="list-features row row-cols-1 row-cols-sm-2 row-cols-md-3">
                @foreach (var item in list)
                {
                    <div class="col">
                        <div class="block">
                            <a class="absolute"
                               alt="@Html.Raw(item.TitleAlt)"
                               title="@Html.Raw(item.TitleAlt)"
                               href="@Html.Raw(_translate.GetUrl("url.feature"))@(item.Slug).html"></a>
                            <div class="thumb-res tall">
                                <img src="@Html.Raw(item.PicThumb)" />
                            </div>
                            <div class="info">
                                <div class="tt">@Html.Raw(item.Title)</div>
                                <div class="desc">
                                    @Html.Raw(item.Description)
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            var block = 5;
            int nextPage = currentPage + 1;
            int prePage = currentPage - 1;
            if (prePage == 0)
            {
                prePage = 1;
            }
            if (nextPage >= lastpage)
            {
                nextPage = lastpage;
            }
            int tempcurrentPage = currentPage + (currentPage / block);
            int currentBlock = currentPage / block;
            int startPage = 0;
            int endPage = 0;


            if (currentBlock == 0)
            {
                startPage = 1;
                endPage = block;


            }
            else
            {
                endPage = block * (currentBlock + 1);
                startPage = endPage - block;
            }
            if (endPage > lastpage)
            {
                endPage = lastpage;
            }


            @if (lastpage > 1)
            {
                <nav class="pagination justify-content-center mt-5">
                    <div class="page-item prev @(currentPage == 1 ? "disabled" : "")">
                        <a href="?page=@prePage"
                           title="@Html.Raw(_translate.GetString("pagination.previous"))"
                           alt="@Html.Raw(_translate.GetString("pagination.previous"))"
                           target="_self">
                            <i class="far fa-long-arrow-left"></i>
                        </a>
                    </div>
                    @for (int i = startPage; i <= endPage; i++)
                    {
                        <div class="page-item @(currentPage == i ? "active" : "")">
                            <a class="page-counter" alt="@i" title="@i" href="?page=@i">@i</a>
                        </div>
                    }
                    @if (currentPage < lastpage - block)
                    {
                        <div class="page-item">
                            <a class="page-counter" alt="..." title="..." href="#">...</a>
                        </div>
                        <div class="page-item">
                            <a class="page-counter" alt="@lastpage" title="@lastpage" href="?page=@lastpage">@lastpage</a>
                        </div>
                    }
                    <div class="page-item next @(currentPage == lastpage ? "disabled" : "")">
                        <a href="?page=@nextPage"
                           title="@Html.Raw(_translate.GetString("pagination.next"))"
                           alt="@Html.Raw(_translate.GetString("pagination.next"))"
                           target="_self">
                            <i class="far fa-long-arrow-right"></i>
                        </a>
                    </div>
                </nav>
            }

        }
        else
        {
            <div style="margin-top:25px" class="text-center">@Html.Raw(_translate.GetString("common.infoisupdating"))</div>
        }
    </div>
</section>

@section Scripts{
    <script>
        if ('@popupDelayTime' !== "") {
            ShowPopupBizMaC('@popupDelayTime')
        }
    </script>
}