@using Admin.ProductManagement.Constants;
@using Admin.ProductManagement.DataTransferObjects.OrderManagement;
@using Steam.Core.Common;

@model List<OrderManagementConfigDto>;

<div id="template-customizer" class="invert-bg-white " style="visibility: visible;">
    <a href="javascript:OpenConfigModel()" class="template-customizer-open-btn" tabindex="-1"></a> <div class="p-4 m-0 lh-1 border-bottom template-customizer-header position-relative py-3">
        <h4 class="template-customizer-t-panel_header mb-2">Cấu hình</h4>
        <div class="d-flex align-items-center gap-2 position-absolute end-0 top-0 mt-4 me-3">
            <a href="javascript:void(0)" class="template-customizer-reset-btn text-body" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Reset Customizer">
                <i class="bx bx-refresh fs-4"></i>
                <span class="badge rounded-pill bg-danger badge-dot badge-notifications"></span>
            </a>
            <a href="javascript:void(0)" onclick="CloseConfigModel()" class="template-customizer-close-btn fw-light text-body" tabindex="-1">
                <i class="bx bx-x fs-4"></i>
            </a>
        </div>
    </div> <div class="template-customizer-inner">

        <div class="template-customizer-layout modal-config">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-within-card-adminconfig" aria-controls="navs-pills-within-card-active" aria-selected="true">Admin</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-within-card-websiteconfig" aria-controls="navs-pills-within-card-link" aria-selected="false" tabindex="-1">Website</button>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content p-0">
                        <div class="tab-pane fade active show" id="navs-pills-within-card-adminconfig" role="tabpanel">
                            <form id="Admin_MisaProductConfig" class="form form-vertical mt-3">
                                <div class="form-body">

                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="PageSize">PageSize</label>
                                                <input data-toggle="tooltip" data-placement="top" title="PageSize" type="text" id="@ProductConstants.ConfigAdmin.PageSize" class="form-control" value="@Model.GetConfigValue(OrderManagementConstants.Config.Admin.PageSize)"
                                                       name="@ProductConstants.ConfigAdmin.PageSize" placeholder="PageSize">
                                            </div>
                                        </div>
                                        <div class="col-12 d-flex justify-content-end mt-2">
                                            <button type="button" onclick="_action.SaveConfig('Admin_MisaProductConfig','Admin')" class="btn btn-primary me-1 mb-1">Apply</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="navs-pills-within-card-websiteconfig" role="tabpanel">
                            <form id="Website_MisaProductConfig" class=" mt-3 form form-vertical">
                                <div class="form-body">
                                    @*
                                    <div class="row">
                                    <div class="col-12">
                                    <div class="form-group">
                                    <label for="PageSize">PageSize</label>
                                    <input data-toggle="tooltip" data-placement="top" title="PageSize" type="text" id="@ProductConstants.ConfigWebsite.PageSize" class="form-control" value="@getValue(ProductConstants.ConfigWebsite.PageSize)"
                                    name="@ProductConstants.ConfigWebsite.PageSize" placeholder="PageSize">
                                    </div>
                                    <div class="form-group">
                                    <label for="PreSlug">PreSlug</label>
                                    <input data-toggle="tooltip" data-placement="top" title="PreSlug" type="text" id="@ProductConstants.ConfigWebsite.PreSlug" class="form-control" value="@getValue(ProductConstants.ConfigWebsite.PreSlug)"
                                    name="@ProductConstants.ConfigWebsite.PreSlug" placeholder="PreSlug">
                                    </div>
                                    </div>
                                    <div class="col-12 d-flex justify-content-end mt-2">
                                    <button type="button" onclick="_action.SaveConfig('Website_MisaProductConfig','Webiste')" class="btn btn-primary me-1 mb-1">Aply</button>
                                    </div>
                                    </div> *@
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function CloseConfigModel() {
        $("#template-customizer").removeClass("template-customizer-open")
    }

    function OpenConfigModel() {
        $("#template-customizer").addClass("template-customizer-open")
    }
</script>
