@using X.PagedList
@using Admin.EmailManagement.Constants
@{
    var CDN_HOST = "";
}

@model IPagedList<Admin.EmailManagement.Database.EmailTemplate>;
@if (Model != null && Model.Any())
{

    int stt = Model.PageNumber*Model.PageSize -Model.PageSize;
    foreach (var item in Model)
    {
        stt = stt + 1;
        <tr id="@item.Pid" class="handle">
            <td width="1">
                <div class="form-check form-check-sm handle">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="form-check-input form-check-primary form-check-glow checkItem" value="@item.Pid" id="checkItem_@item.Pid">
                    </div>
                </div>
            </td>
            <td width="1"><input tabindex="@(item.Order + 1000)" onchange="_action.UpdateOrder(@item.Pid,this.value)" type="number" class="form-control-sm order-input  form-control-plaintext" value="@stt" disabled /></td>
            <td><a href="@Url.Content(EmailTemplateConstants.Route.PageEdit)/@item.Pid" class="cursor-pointer  @(item.Enabled == true ? "text-primary" : "text-mute") ">@item?.EmailCode</a></td>
            <td>@item.EmailName</td>
            <td>@item?.EmailAdminPid</td>
            <td>
                <div class="form-check form-switch">
                    <input onclick="_action.Enable(@item.Pid,@(item.Enabled==true?"false":"true"))" class="cursor-pointer form-check-input" type="checkbox" id="flexSwitchCheckChecked" @(item.Enabled == true ? "checked" : "")>
                </div>
            </td>
            <td class="text-center">
                <a href="@Url.Content(EmailTemplateConstants.Route.PageEdit)/@item.Pid"><i onclick="_action.Edit(@item.Pid)" class="cursor-pointer text-primary fas fa-edit"></i></a>
                <i onclick="_action.Delete(@item.Pid)" class="cursor-pointer  text-danger fas fa-trash-alt"></i>
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="7" class="text-center">
            <span>Không có dữ liệu!!</span>
        </td>

    </tr>
}
