@using X.PagedList
@model Admin.MemberManagement.Models.Feedback_List;
@using static Admin.MemberManagement.Constants.FeedbackConstants;
@{
    var CDN_HOST = "";
}

@if (Model != null && Model.Items.Any())
{

    int stt = Model.PageNumber * Model.PageSize - Model.PageSize;
    foreach (var item in Model.Items)
    {
        stt = stt + 1;
        <tr id="@item.Pid" class="">
            <td width="1">
                <div class="form-check form-check-sm handle">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="form-check-input form-check-primary form-check-glow checkItem" value="@item.Pid" id="checkItem_@item.Pid">
                    </div>
                </div>
            </td>
            <td width="1"><input tabindex="@(item.Order+1000)" onchange="_action.UpdateOrder(@item.Pid,this.value)" type="number" class="form-control-sm order-input  form-control-plaintext" value="@stt" disabled /></td>

            <td><a href="@Url.Content(Config.Route.PageEdit)/@item.Pid" class="cursor-pointer  @(item.Enabled==true?"text-primary":"text-mute") ">@item.FullName</a></td>
            <td><a href="@Url.Content(Config.Route.PageEdit)/@item.Pid" class="cursor-pointer  @(item.Enabled==true?"text-primary":"text-mute") ">@item.Email</a></td>
            <td class="text-bold-500">@item.Rating</td>
            <td class="text-bold-500">@item.Content</td>
            <td class="text-bold-500">
                <span class="badge bg-light-primary">@item.SKU</span>
            </td>


            <td>
                <div class="form-check form-switch">
                    <input onclick="_action.Enable(@item.Pid,@(item.Enabled==true?"false":"true"))" class="cursor-pointer form-check-input" type="checkbox" id="flexSwitchCheckChecked" @(item.Enabled == true ? "checked" : "")>
                </div>
            </td>
            <td class="text-center ">
                <a href="@Url.Content(Config.Route.PageEdit)/@item.Pid"><i onclick="_action.Edit(@item.Pid)" class="cursor-pointer text-primary fas fa-edit"></i></a>
                <i onclick="_action.Delete(@item.Pid)" class="cursor-pointer  text-danger fas fa-trash-alt"></i>
                @*<a href="/@item.CateSlug/@item.Slug" target="_blank"> <i class="cursor-pointer  text-info fas fa-link"></i></a>*@
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="9" class="text-center">
            <span>Không có dữ liệu!!</span>
        </td>

    </tr>
}
