@using Admin.PostsCategory.Constants;
@using Steam.Core.Common.SteamString;
@using Steam.Core.Base.Constant;
@{
    var CDN_HOST = "";
}

@model Admin.PostsCategory.Models.PostsCategoryViewModel;


@if (Model != null && Model.Data.Any())
{

    int stt = 0;
    foreach (var item in Model.Data)
    {
        var tempParentId = item.Pid;
        string prefix = ("--").ToReplicationString(Model.Level);
        stt = stt + 1;
        <tr id="@item.Pid" class="">
            @*<td width="1">
            <div class="form-check form-check-sm handle">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="form-check-input form-check-primary form-check-glow checkItem" value="@item.Pid" id="checkItem_@item.Pid">
                </div>
            </div>
        </td>*@

            <td><a href="@Url.Content(PostsCategoryConstants.Route.PageEdit)/@item.Pid" class="cursor-pointer  @(item.Enabled==true?"text-primary":"text-mute") ">@prefix @item.Title</a></td>
            <td onclick="_commonAdmin.CopyText('@item.WebsiteSlug')" class="text-bold-500" style="cursor:copy">@Html.Raw(item.Slug)</td>
            <td class="text-bold-500">@Html.Raw(item.ShowLevel)</td>
            <td>@Html.Raw(item.WebsiteCatePage)</td>
            <td>@Html.Raw(item.WebsiteDetailPage)</td>
            <td class="">
                <div class="avatar avatar-xl rounded me-3">
                    <img style="border-radius:0px!important" src="@(item.FullThumbnail)" alt="" srcset="">
                </div>
            </td>            <td class="">
                <div class="avatar avatar-xl rounded me-3">
                    <img style="border-radius:0px!important" src="@(item.FullPathBanner)" alt="" srcset="">
                </div>
            </td>
            <td>
                <div class="form-check form-switch">
                    <input onclick="_action.Enable(@item.Pid,@(item.Enabled==true?"false":"true"))" class="cursor-pointer form-check-input" type="checkbox" id="flexSwitchCheckChecked" @(item.Enabled == true ? "checked" : "")>
                </div>
            </td>
            <td class="text-center">
                <a href="@Url.Content(PostsCategoryConstants.Route.PageEdit)/@item.Pid"><i onclick="_action.Edit(@item.Pid)" class="cursor-pointer text-primary fas fa-edit"></i></a>
                <i onclick="_action.Delete(@item.Pid)" class="cursor-pointer  text-danger fas fa-trash-alt"></i>
                <a href="/@item.WebsiteSlug" target="_blank"> <i class="cursor-pointer  text-info fas fa-link"></i></a>

            </td>
            <td class="handle td-handle">
                <i class="fas fa-grip-horizontal fa-rotate-90"></i>

            </td>
        </tr>


    }
}
else
{
    <tr>
        <td colspan="9" class="text-center">
            <span>Không có dữ liệu!!</span>
        </td>

    </tr>
}
