@model Admin.TemplatePage.Controllers.EditModel

@using Admin.TemplatePage.Constants;
@using ComponentUILibrary.Models
<div class="mt-2">
    <input hidden id="Pid" class="pid" name="Pid" value="@Model.Detail.Pid">
    <div class="row">
        <div class="form-group col">
            <label for="title">Name</label>
            <input required type="text" class="form-control" id="Name" value="@Model.Detail.Name" name="Name" aria-describedby="Name" placeholder="nhập tên...">
        </div>
        <div class="form-group col">
            <label for="title">Url</label>
            <input required type="text" class="form-control" id="Url" value="@Model.Detail.Url" name="Url" aria-describedby="Url" placeholder="nhập đường dẫn...">
        </div>
    </div>
    <div class="form-group col">
        <label for="title">Danh sách Parameters </label>
        <input type="text" class="form-control" id="Parameters" value="@Model.Detail.Parameters" name="Parameters" aria-describedby="Url" placeholder="nhập parameters...">
    </div>
    <div class="form-group">
        <label for="PageType" class="text-bold">Page Type</label>

        @{
            List<RadioData> itemRadioTypeTemplatePage = new List<RadioData>();
            itemRadioTypeTemplatePage.Add(new RadioData { Text = "Danh mục", Id = "1", Value = "cate" });
            itemRadioTypeTemplatePage.Add(new RadioData { Text = "Chi tiết", Id = "2", Value = "detail" });
            RadioModel radioTypeTemplatePageModel = new RadioModel();
            radioTypeTemplatePageModel.Id = "PageType";
            radioTypeTemplatePageModel.Class = "row";
            radioTypeTemplatePageModel.Style = "margin-left:5px";
            radioTypeTemplatePageModel.Items = itemRadioTypeTemplatePage;
            radioTypeTemplatePageModel.SelectedValue = @Model.Detail.PageType;

        }
        @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.RadioComponent), radioTypeTemplatePageModel)
    </div>




    <div class="form-group">
        <label for="Content">Mô tả</label>

        <textarea rows="7" id="Description" name="Description" class="form-control">@Model.Detail.Description</textarea>

    </div>


</div>