@using ComponentUILibrary.Models
@using ComponentUILibrary
@using Steam.Core.ComponentUILibrary.Constant

@model FromDateToDateModel
@{
    string VirtualFolder = ComponentUILibraryConstant.VirtualFolder;

}
@if (Model.FirstLoadLIb)
{
    <link href="@Url.Content(VirtualFolder+DatePickerConstants.PathLib)/css/datepicker.css" rel="stylesheet" />
    <script src="@Url.Content(VirtualFolder+DatePickerConstants.PathLib)/js/datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
}


<div class="row @Model.ClassContainner">
    <div class="col">
        <div class="input-group">
            <input type="text" class="form-control " id="@(Model.FromDate_Id)" value="@Model.FromDate" name="@(Model.FromDate_Id)" placeholder="@Model.Placeholder">
            <span class="input-group-text">
                <i class="fa fa-calendar" aria-hidden="true"></i>
            </span>
        </div>
        <div class="docs-datepicker-container"></div>

    </div>
    <div class="col">
        <div class="input-group">
            <input type="text" class="form-control " id="@(Model.ToDate_Id)" value="@Model.ToDate" name="@(Model.ToDate_Id)" placeholder="@Model.Placeholder">
            <span class="input-group-text">
                <i class="fa fa-calendar" aria-hidden="true"></i>
            </span>
        </div>
        <div class="docs-datepicker-container"></div>

    </div>
</div>
<script>

   var validDay_@Model.Id = @Model.ValidRangeDay
   var validMonth_@Model.Id = @Model.ValidRangeMonth
   var validYear_@Model.Id = @Model.ValidRangeYear
   var isValid_@Model.Id= true;
   var isValidMes_@Model.Id= "";
    var options_@(Model.FromDate_Id)= {
        show: function (e) {
            //  console.log(e.type, e.namespace);
        },
        hide: function (e) {
            //  console.log(e.type, e.namespace);
        },
        pick: function (e) {
            //  console.log(e.type, e.namespace, e.view);
        }
        ,
        autoHide: true,
        format: 'dd/mm/yyyy'

        //trigger: $('.docs-datepicker-trigger')
    };
    $(`#@Model.FromDate_Id`).datepicker('reset').datepicker('destroy').datepicker(options_@Model.FromDate_Id);

    $(`#@Model.FromDate_Id`).on("change", function () {
        CheckFromDateToDate_@(Model.Id)()
    });
    var options_@(Model.ToDate_Id)= {
        show: function (e) {
            //  console.log(e.type, e.namespace);
        },
        hide: function (e) {
            //  console.log(e.type, e.namespace);
        },
        pick: function (e) {
            //  console.log(e.type, e.namespace, e.view);
        }
        ,
        autoHide: true,
        format: 'dd/mm/yyyy'

        //trigger: $('.docs-datepicker-trigger')
    };
    $(`#@Model.ToDate_Id`).datepicker('reset').datepicker('destroy').datepicker(options_@Model.ToDate_Id);

    $(`#@Model.ToDate_Id`).on("change", function () {
        CheckFromDateToDate_@(Model.Id)()
    });
    function CheckFromDateToDate_@(Model.Id)() {
         isValid_@Model.Id= true;
         isValidMes_@Model.Id= "";
        var format = "DD/MM/YYYY";
        fromDate = $(`#@Model.FromDate_Id`).val();// "13/12/2023"
        todate = $(`#@Model.ToDate_Id`).val();
        var mesStr = ""
        var fDate = moment(fromDate, format);
        var tDate = moment(todate, format);
        if (tDate < fDate) {
            isValid_@Model.Id= false;
            mesStr = "đến ngày phải lớn hơn từ ngày"
            isValidMes_@Model.Id= mesStr;
        }
        if (validDay_@Model.Id > 0 || validMonth_@Model.Id > 0 || validYear_@Model.Id> 0) {
                    var tempValidTDate = fDate.add(validDay_@Model.Id, 'days');
              tempValidTDate = fDate.add(validMonth_@Model.Id, 'months');
            tempValidTDate = fDate.add(validYear_@Model.Id, 'years');
         /*   tDate.isAfter(tempValidTDate)*/
            if (tDate > tempValidTDate) {
                mesStr = "thời gian phải nằm trong khoảng "

            if (validYear_@Model.Id>0) {
                mesStr+=validYear_@Model.Id+" năm"
            }
            if (validMonth_@Model.Id>0) {
                    mesStr += validMonth_@Model.Id+" tháng"
            }
            if (validDay_@Model.Id>0) {
                mesStr += validDay_@Model.Id+" ngày"
            }
            isValid_@Model.Id= false;
            isValidMes_@Model.Id= mesStr;
        }
        }

        console.log(isValid_@Model.Id)
        console.log(isValidMes_@Model.Id= mesStr)

    }
</script>
