@model Admin.DashBoard.Database.Dashboard_Shortcut

<div class="modal fade" id="addNewShorcut" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered1 modal-simple modal-add-new-cc">
        <div class="modal-content p-3 p-md-5">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="text-center mb-4">
                    <h3>Thông tin shortcut</h3>
                </div>
                <form id="addNewCCForm" class="row g-3" onsubmit="return false">
                    <input hidden id="Pid" name="Pid" value="@Model.Pid"/>
                    <div class="col-12">
                        <label class="form-label w-100" for="Name">Shortcut Name</label>
                        <div class="input-group input-group-merge">
                            <input id="Name" name="Name" class="form-control credit-card-mask" type="text" placeholder="" aria-describedby="Name" value="@Model.Name"/>
                        </div>
                    </div>
                    <div class="col-12">
                        <label class="form-label w-100" for="Link">Link</label>
                        <div class="input-group input-group-merge">
                            <input id="Link" name="Link" class="form-control credit-card-mask" type="text" placeholder="" aria-describedby="Link" value="@Model.Link"/>
                        </div>
                    </div>
                    <div class="col-12 col-md-12">
                        <label class="form-label" for="Description">Mô tả</label>
                        <textarea type="text" id="Description" name="Description" class="form-control" placeholder="" >@Model.Description</textarea>
                    </div>
                    <div class="col-12 col-md-12">
                        <label class="form-label" for="IconSvg">Icon Svg</label>
                        <textarea type="text" id="IconSvg" name="IconSvg" class="form-control" placeholder="">@Model.IconSvg</textarea>
                    </div>
                    <div class="col-12 col-md-3">
                        <label class="form-label" for="Order">Thứ tự</label>
                        <input type="number" id="Order" name="Order" class="form-control" placeholder="" value="@Model.Order" />
                    </div>
                    @*<div class="col-12">
                            <label class="switch">
                                <input id="CheckBox" name="CheckBox" type="checkbox" class="switch-input" onclick="_actionShortcut.AddShortcut()">
                                <span class="switch-toggle-slider">
                                    <span class="switch-on"></span>
                                    <span class="switch-off"></span>
                                </span>
                            </label>
                        </div>*@
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary me-sm-3 me-1 mt-3" onclick="_actionShortcut.Save('addNewCCForm')"><i class='bx bxs-save'></i></button>
                    @if (Model.Pid > 0)
                    {
                        <button type="submit" class="btn btn-danger me-sm-3 me-1 mt-3" onclick="_actionShortcut.Delete(@Model.Pid)"><i class='bx bxs-trash'></i></button>
                    }

                    @*<button type="reset" class="btn btn-label-secondary btn-reset mt-3" data-bs-dismiss="modal" aria-label="Close">Cancel</button>*@
                </div>
                </form>
            </div>
        </div>
    </div>
</div>