@using static Admin.LayoutPage.Constants.MenuConstants;

@model List<Admin.LayoutPage.Database.MenuConfig>;

<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header ">
                <button onclick="CloseSettingModal()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                <h4 class="modal-title justify-content-center " id="myModalLabel2">Cài đặt</h4>
            </div>

            <div class="modal-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active " id="AdminConfigTab-tab" data-bs-toggle="tab" href="#AdminConfigTab" role="tab" aria-controls="AdminConfigTab" aria-selected="true">Admin</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link " id="WebsiteConfigTab-tab" data-bs-toggle="tab" href="#WebsiteConfigTab" role="tab" aria-controls="WebsiteConfigTab" aria-selected="false">Website</a>
                    </li>

                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="AdminConfigTab" role="tabpanel" aria-labelledby="AdminConfigTab-tab">
                        <form id="Admin_MenuConfig" class="form form-vertical mt-3">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="PageSize">PageSize</label>
                                            <input data-toggle="tooltip" data-placement="top" title="PageSize" type="text" id="@Config.Admin.PageSize" class="form-control" value="@(Model.Where(p=>p.Key == Config.Admin.PageSize).FirstOrDefault() !=null?Model.Where(p=>p.Key == Config.Admin.PageSize).FirstOrDefault().Value:"")" name="@Config.Admin.PageSize" placeholder="PageSize">
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="button" onclick="_action.SaveConfig('Admin_MenuConfig','Admin')" class="btn btn-primary me-1 mb-1">Apply</button>
                                        @*                                        <button type="reset" class="btn btn-light-secondary me-1 mb-1">Default</button>
                                        *@
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade " id="WebsiteConfigTab" role="tabpanel" aria-labelledby="WebsiteConfigTab-tab">
                        <form id="Website_MenuConfig" class=" mt-3 form form-vertical">
                            <div class="form-body">

                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="AlwaysShowTop">Luôn hiển thị trên cùng</label>
                                            @{
                                                string checkboxValueAlwaysShowTop = string.Empty;
                                                var checkboxModelAlwaysShowTop = Model.Where(p => p.Key == Config.Website.AlwaysShowTop).FirstOrDefault();
                                                if (checkboxModelAlwaysShowTop != null)
                                                {
                                                    checkboxValueAlwaysShowTop = checkboxModelAlwaysShowTop.Value;
                                                }
                                            }
                                            <input hidden value="0" name="@Config.Website.AlwaysShowTop">

                                            <input checkvalue="1" uncheckvalue="0" @(checkboxValueAlwaysShowTop == "1" ? "checked" : "") data-toggle="tooltip" data-placement="top" title="AlwaysShowTop" class="form-check-input" type="checkbox" id="@Config.Website.AlwaysShowTop" value="@checkboxValueAlwaysShowTop" name="@Config.Website.AlwaysShowTop">
                                        </div>

                                    </div>

                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="button" onclick="_action.SaveConfig('Website_MenuConfig','Webiste')" class="btn btn-primary me-1 mb-1">Aply</button>
                                        @*                                        <button type="reset" class="btn btn-light-secondary me-1 mb-1">Default</button>
                                        *@
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>
