@using Admin.ProductManagement.Constants;
@model List<ComponentUILibrary.ViewComponents.ConfigModel>;
<div class="card">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills" role="tablist">
            <li class="nav-item" role="presentation">
                <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-within-card-adminconfig" aria-controls="navs-pills-within-card-active" aria-selected="true">Admin</button>
            </li>
            <li class="nav-item" role="presentation">
                <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-within-card-websiteconfig" aria-controls="navs-pills-within-card-link" aria-selected="false" tabindex="-1">Website</button>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content p-0">
            <div class="tab-pane fade active show" id="navs-pills-within-card-adminconfig" role="tabpanel">
                <form id="Admin_MisaProductCategoryConfig" class="form form-vertical mt-3">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="col-12 row">
                                    <label for="MaxHeight">Kích thước hình tối đa</label>

                                    <div class="form-group col-5">
                                        <input data-toggle="tooltip" data-placement="top" title="MaxWidth" type="text" id="@ProductCategoryConstants.Config.Admin.MaxWidth" value="@(Model.Where(p=>p.Key == ProductCategoryConstants.Config.Admin.MaxWidth).FirstOrDefault() !=null?Model.Where(p=>p.Key == ProductCategoryConstants.Config.Admin.MaxWidth).FirstOrDefault().Value:"")" class="form-control" name="@ProductCategoryConstants.Config.Admin.MaxWidth" placeholder="MaxWidth">
                                    </div>
                                    <div class="form-group col-5">
                                        <input data-toggle="tooltip" data-placement="top" title="MaxHeight" type="text" id="@ProductCategoryConstants.Config.Admin.MaxHeight" value="@(Model.Where(p=>p.Key == ProductCategoryConstants.Config.Admin.MaxHeight).FirstOrDefault() !=null?Model.Where(p=>p.Key == ProductCategoryConstants.Config.Admin.MaxHeight).FirstOrDefault().Value:"")" class="form-control" name="@ProductCategoryConstants.Config.Admin.MaxHeight" placeholder="MaxHeight">
                                    </div>
                                </div>
                                <div class="col-12 row">
                                    <label for="ThumbHeight">Kích thước hình Thumb</label>

                                    <div class="form-group col-6">
                                        <input data-toggle="tooltip" data-placement="top" title="ThumbHeight" type="text" id="@ProductCategoryConstants.Config.Admin.ThumbHeight" value="@(Model.Where(p=>p.Key == ProductCategoryConstants.Config.Admin.ThumbHeight).FirstOrDefault() !=null?Model.Where(p=>p.Key == ProductCategoryConstants.Config.Admin.ThumbHeight).FirstOrDefault().Value:"")" class="form-control" name="@ProductCategoryConstants.Config.Admin.ThumbHeight" placeholder="ThumbHeight">
                                    </div>
                                    <div class="form-group col-6">
                                        <input data-toggle="tooltip" data-placement="top" title="ThumbWidth" type="text" id="@ProductCategoryConstants.Config.Admin.ThumbWidth" class="form-control" value="@(Model.Where(p=>p.Key == ProductCategoryConstants.Config.Admin.ThumbWidth).FirstOrDefault() !=null?Model.Where(p=>p.Key == ProductCategoryConstants.Config.Admin.ThumbWidth).FirstOrDefault().Value:"")" name="@ProductCategoryConstants.Config.Admin.ThumbWidth" placeholder="ThumbWidth">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="PageSize">PageSize</label>
                                    <input data-toggle="tooltip" data-placement="top" title="PageSize" type="text" id="@ProductCategoryConstants.Config.Admin.PageSize" class="form-control" value="@(Model.Where(p=>p.Key == ProductCategoryConstants.Config.Admin.PageSize).FirstOrDefault() !=null?Model.Where(p=>p.Key == ProductCategoryConstants.Config.Admin.PageSize).FirstOrDefault().Value:"")" name="@ProductCategoryConstants.Config.Admin.PageSize" placeholder="PageSize">
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-end  mt-2">
                                <button type="button" onclick="_action.SaveConfig('Admin_MisaProductCategoryConfig','Admin')" class="btn btn-primary me-1 mb-1">Apply</button>
                                @*                                        <button type="reset" class="btn btn-light-secondary me-1 mb-1">Default</button>
                                *@
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="navs-pills-within-card-websiteconfig" role="tabpanel">
                <form id="Website_MisaProductCategoryConfig" class=" mt-3 form form-vertical">
                    <div class="form-body">

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="CatePage">Trang danh mục</label>
                                    <input data-toggle="tooltip" data-placement="top" title="CatePage" type="text" id="@ProductCategoryConstants.Config.Website.CatePage" class="form-control" value="@(Model.Where(p=>p.Key == ProductCategoryConstants.Config.Website.CatePage).FirstOrDefault() !=null?Model.Where(p=>p.Key == ProductCategoryConstants.Config.Website.CatePage).FirstOrDefault().Value:"")" name="@ProductCategoryConstants.Config.Website.CatePage" placeholder="Trang danh mục">
                                </div>
                                <div class="form-group">
                                    <label for="PreSlugCate">PreSlug danh mục</label>
                                    <input data-toggle="tooltip" data-placement="top" title="PreSlugCate" type="text" id="@ProductCategoryConstants.Config.Website.PreSlugCate" class="form-control" value="@(Model.Where(p=>p.Key == ProductCategoryConstants.Config.Website.PreSlugCate).FirstOrDefault() !=null?Model.Where(p=>p.Key == ProductCategoryConstants.Config.Website.PreSlugCate).FirstOrDefault().Value:"")" name="@ProductCategoryConstants.Config.Website.PreSlugCate" placeholder="PreSlug danh mục">
                                </div>
                                <div class="form-group">
                                    <label for="DetailPage">Trang chi tiết</label>
                                    <input data-toggle="tooltip" data-placement="top" title="DetailPage" type="text" id="@ProductCategoryConstants.Config.Website.DetailPage" class="form-control" value="@(Model.Where(p=>p.Key == ProductCategoryConstants.Config.Website.DetailPage).FirstOrDefault() !=null?Model.Where(p=>p.Key == ProductCategoryConstants.Config.Website.DetailPage).FirstOrDefault().Value:"")" name="@ProductCategoryConstants.Config.Website.DetailPage" placeholder="Trang chi tiết">
                                </div>
                                <div class="form-group">
                                    <label for="PreSlugDetail">PreSlug chi tiết</label>
                                    <input data-toggle="tooltip" data-placement="top" title="PreSlugDetail" type="text" id="@ProductCategoryConstants.Config.Website.PreSlugDetail" class="form-control" value="@(Model.Where(p=>p.Key == ProductCategoryConstants.Config.Website.PreSlugDetail).FirstOrDefault() !=null?Model.Where(p=>p.Key == ProductCategoryConstants.Config.Website.PreSlugDetail).FirstOrDefault().Value:"")" name="@ProductCategoryConstants.Config.Website.PreSlugDetail" placeholder="PreSlug trang chi tiết">
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="Parameter">Parameters</label>
                                <input data-toggle="tooltip" data-placement="top" title="Parameter" type="text" id="@ProductCategoryConstants.Config.Website.Parameter" class="form-control" value="@(Model.Where(p=>p.Key == ProductCategoryConstants.Config.Website.Parameter).FirstOrDefault() !=null?Model.Where(p=>p.Key ==  ProductCategoryConstants.Config.Website.Parameter).FirstOrDefault().Value:"")" name="@ProductCategoryConstants.Config.Website.Parameter" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="ApiUpdateRewriteProductUrl">Api cập nhật Rewrite Url</label>
                                <input data-toggle="tooltip" data-placement="top" title="ApiUpdateRewriteProductUrl" type="text" id="@ProductCategoryConstants.Config.Website.ApiUpdateRewriteProductUrl" class="form-control" value="@(Model.Where(p=>p.Key == ProductCategoryConstants.Config.Website.ApiUpdateRewriteProductUrl).FirstOrDefault() !=null?Model.Where(p=>p.Key ==  ProductCategoryConstants.Config.Website.ApiUpdateRewriteProductUrl).FirstOrDefault().Value:"")" name="@ProductCategoryConstants.Config.Website.ApiUpdateRewriteProductUrl" placeholder="">
                            </div>
                            <div class="col-12 d-flex justify-content-end mt-2">
                                <button type="button" onclick="_action.SaveConfig('Website_MisaProductCategoryConfig','Webiste')" class="btn btn-primary me-1 mb-1">Aply</button>
                                @*                                        <button type="reset" class="btn btn-light-secondary me-1 mb-1">Default</button>
                                *@
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
