@using X.PagedList
@using Admin.Authorization.Constants
@{
    var CDN_HOST = "";
}

@model IPagedList<Admin.Authorization.Database.LogManagement>;
@if (Model != null && Model.Any())
{

    int stt = Model.PageNumber * Model.PageSize - Model.PageSize;
    foreach (var item in Model)
    {
        stt = stt + 1;
        <tr id="@item.Pid" >



            <td width="1"><input tabindex="@(item.Order+1000)" onchange="_action.UpdateOrder(@item.Pid,this.value)" type="number" class="form-control-sm order-input  form-control-plaintext" value="@stt" disabled /></td>

            <td class="text-bold-500">@Html.Raw(item.CreateUser)</td>
            <td class="text-bold-500">@Html.Raw(item.ActionName)</td>
            <td class="text-bold-500">@Html.Raw(item.ActionUrl)</td>
            <td class="text-bold-500">@Html.Raw(item.ActionData)</td>
            <td class="text-bold-500">@Html.Raw(item.CreateDate)</td>
            <td class="text-bold-500">@(item.Status == true? "Success":"Fail")</td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="7" class="text-center">
            <span>Không có dữ liệu!!</span>
        </td>

    </tr>
}
