@model Admin.MemberManagement.Controllers.EditModel
@using ComponentUILibrary.Models
@using static Admin.MemberManagement.Constants.StaticPath;
@*@await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.PageTitleComponent), new { model = Model.PageTitle })*@
@{
    ViewData["PageTitle"] = Model.PageTitle.ModuleName;

}
<section class="section">
    <div class="row" id="">
        <div class="col-12">
            <div class="card">
                @*
                    <div class="card-header">
                    </div>*@
                <div class="card-content p-lg-2 pr-2">
                    <form id="uploadForm" class="mt-2">

                        <div class="mt-2">
                            <input hidden id="Pid" class="pid" name="Pid" value="@Model.MemberManagementModel.Detail.Pid">
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <label for="Name">Họ</label>
                                    <input class="form-control" id="LastName" value="@Model.MemberManagementModel.Detail.LastName" name="LastName" aria-describedby="LastName" placeholder="">

                                </div>
                                <div class="col-md-6">
                                    <label for="Name">Tên</label>
                                    <input class="form-control" id="FirstName" value="@Model.MemberManagementModel.Detail.FirstName" name="FirstName" aria-describedby="FirstName" placeholder="">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="Email">Email</label>
                                    <input required type="text" class="form-control" id="Email" value="@Model.MemberManagementModel.Detail.Email" name="Email" aria-describedby="email" placeholder="">

                                </div>
                                <div class="col-md-6">
                                    <label for="Phone">Số điện thoại</label>
                                    <input class="form-control" id="Phone" value="@Model.MemberManagementModel.Detail.Phone" name="Phone" aria-describedby="Phone" placeholder="">
                                </div>
                            </div>

                        </div>
                    </form>
                    <div class="modal-footer">
                        <a type="button" href="@Admin.MemberManagement.Constants.Config.Route.PageIndex" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</a>
                        <button type="button" onclick="_action.ResetPassword(@Model.MemberManagementModel.Detail.Pid)" class="btn btn-danger">Reset Password</button>
                        <button type="button" onclick="_action.Save('uploadForm')" class="btn btn-primary">Lưu</button>
                    </div>
                </div>
            </div>
        </div>


    </div>

    @Html.AntiForgeryToken()

</section>

@section Scripts{
    <script asp-append-version="true" src="@Url.Content(Admin.MemberManagement.Constants.ModuleInfo.PathCommand)/membermanagement/edit.js"></script>

    <script>
        const ModelView = {
            RouteIndex: "@Admin.MemberManagement.Constants.Config.Route.PageIndex",
            DivModalDataID: "divModalInfo",
            ModalDataID: "ModelData",
            DivModalConfigID: "divModalConfig",
            ModalConfigID: "ModelConfig",
            FromUploadID: "uploadForm",
            NavPagingID: "navigation_paging",
            FileUploadID: "Images"
        }
        let _action = new AdminMemberManagementEdit(ModelView);
        //_action.CheckFunction();
        //var dragger
        function OpenSettingModal() {
            $("#myModal2").modal("show")
        }
        function CloseSettingModal() {
            $("#myModal2").modal("hide")
        }
        function ChangeFilter() {
            $("#sort-amount").html('<i  class="fas fa-sort-amount-down-alt"></i>')

        }

        $(function () {


            //var cars = $('#cars').filterMultiSelect();

            //InitDragDropTable()
        });

    </script>
}