@model Admin.ProductManagement.Controllers.ProductController.EditModel
@using Admin.ProductManagement.Constants;

@using ComponentUILibrary.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["PageTitle"] = Model.PageTitle.ModuleName;
}

<section class="section ">
    <div class="row" id="">
        <div class="col-12">
            <div class="card">
                <div class="card-content p-lg-2 pr-2">
                    <form id="uploadForm" class="mt-2">

                        <ul class="nav nav-tabs alwaystop-header " id="myTab" role="tablist">
                            <li class="nav-item steam-admin-tab" role="presentation">
                                <a class="nav-link active" id="content-tab" data-bs-toggle="tab" href="#content" role="tab" aria-controls="content" aria-selected="true">
                                    <i class="fas fa-font"></i> Nội dung
                                </a>
                            </li>


                            <li class="nav-item steam-admin-tab" role="presentation">
                                <a class="nav-link" id="images-tab" data-bs-toggle="tab" href="#images" role="tab" aria-controls="images" aria-selected="false">
                                    <i class="fas fa-images"></i> Hình ảnh
                                </a>
                            </li>

                            <li class="nav-item steam-admin-tab" role="presentation">
                                <a class="nav-link" id="category-tab" data-bs-toggle="tab" href="#category" role="tab" aria-controls="category" aria-selected="false">
                                    <i class="fas fa-list"></i> Danh mục
                                </a>
                            </li>


                            <li class="nav-item steam-admin-tab" role="presentation">
                                <a class="nav-link" id="productchildren-tab" data-bs-toggle="tab" href="#productchildren" role="tab" aria-controls="category" aria-selected="false">
                                    <i class="fas fa-barcode"></i> Thuộc tính
                                </a>
                            </li>

                            <li class="nav-item steam-admin-tab" role="presentation">
                                <a class="nav-link" id="seoSetting-tab" data-bs-toggle="tab" href="#seoSetting" role="tab" aria-controls="seoSetting" aria-selected="false">
                                    <i class="fab fa-searchengin"></i> SEO
                                </a>
                            </li>
                            <li class="nav-item steam-admin-tab" role="presentation">
                                <a class="nav-link" id="post-tab" data-bs-toggle="tab" href="#post" role="tab" aria-controls="post" aria-selected="false">
                                    <i class="fas fa-link"></i> Liên kết bài viết
                                </a>
                            </li>
                            <li style="" class="nav_list_button">
                                <div class="">
                                    <div class="form-check form-switch " style="float: left; margin-top:7px">
                                        <input @(Model.Detail.Enabled == true ? "checked" : "") onclick="" class="btn cursor-pointer form-check-input" name="CheckBox" type="checkbox" id="CheckBox">
                                    </div>
                                    <button type="button" id="" onclick="_action.Save('uploadForm')" class="btn btn-primary">Lưu</button>
                                    <a type="button" href="@ProductConstants.ConfigRoute.PageIndex" class="btn btn-danger">X</a>
                                </div>
                                <div id="nav_list_button_plugin" class="nav_list_button_plugin">
                                </div>
                            </li>


                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade active show" id="content" role="tabpanel" aria-labelledby="content-tab">
                                @Html.Partial(ProductConstants.ConfigPartial.Edit_TabContent, Model)
                            </div>
                            <div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab">
                                @Html.Partial(ProductConstants.ConfigPartial.Edit_TabImages, Model)
                            </div>
                            <div class="tab-pane fade " id="category" role="tabpanel" aria-labelledby="category-tab">
                                @Html.Partial(ProductConstants.ConfigPartial.Edit_TabCategory, Model)
                            </div>
                            <div class="tab-pane fade " id="productchildren" role="tabpanel" aria-labelledby="productchildren-tab">
                                @Html.Partial(ProductConstants.ConfigPartial.Edit_TabProductDetail, Model)
                            </div>
                            <div class="tab-pane fade" id="seoSetting" role="tabpanel" aria-labelledby="seoSetting-tab">
                                @Html.Partial(ProductConstants.ConfigPartial.Edit_TabSEO, Model)
                            </div>
                            <div class="tab-pane fade" id="post" role="tabpanel" aria-labelledby="post-tab">
                                @Html.Partial(ProductConstants.ConfigPartial.Edit_TabPost, Model)
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        @*<a type="button" href="@MisaProductConstants.Config.Route.PageIndex" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</a>
                            <button type="button" id="btnSaveForm" onclick="_action.Save('uploadForm')" class="btn btn-primary">Lưu</button>*@
                    </div>
                </div>
            </div>
        </div>

    </div>

    @Html.AntiForgeryToken()
    .
</section>

@section Scripts{
    <script asp-append-version="true" src="@Url.Content(MisaApiTrackerConstants.ModuleInfo.PathCommand)commands/ProductCommand.js"></script>
    <script asp-append-version="true" src="@Url.Content(MisaApiTrackerConstants.ModuleInfo.PathCommand)commands/product/edit.js"></script>

    <script>
        const ModelView = {
            RouteIndex: "@ProductConstants.ConfigRoute.PageIndex",
            DivModalDataID: "divModalInfo",
            ModalDataID: "ModelData",
            DivModalConfigID: "divModalConfig",
            ModalConfigID: "ModelConfig",
            FromUploadID: "uploadForm",
            NavPagingID: "navigation_paging",
            FileUploadID: "Images",
            TbodyId: "tableProductChildren",
        }
        let _action = new AdminMisaProduct_Edit(ModelView);
        _action.CheckFunction();
        //var dragger
        function OpenSettingModal() {
            $("#myModal2").modal("show")
        }
        function CloseSettingModal() {
            $("#myModal2").modal("hide")
        }
        function ChangeFilter() {
            $("#sort-amount").html('<i  class="fas fa-sort-amount-down-alt"></i>')

        }
    </script>
}