@using Admin.LayoutPage.Constants;
@using ComponentUILibrary.Models

@model Admin.LayoutPage.Database.MenuItemStyle;
<div class="modal left fade" id="modalMenuItemEdit" tabindex="-1" role="dialog" aria-labelledby="myModal2Label2">

    <div class="modal-dialog modal-dialog-centered modal-lg modal-full" role="document">
        <div class="modal-content">

            <div class="modal-header ">

                <h4 class="modal-title justify-content-center " id="myModalLabel2">@(Model.Pid == 0 ? "Thêm nội dung" : "Cập nhật nội dung")</h4>
            </div>

            <div class="modal-body">
                <div class="tab-content" id="myTabContent">
                    <form id="MenuItemStyleForm" class="form form-vertical mt-3">
                        <div class="form-body">
                            <div class="mt-2">
                                <input hidden id="@nameof(Model.Pid)" name="@nameof(Model.Pid)" value="@(Model.Pid)">
                                <input hidden id="MenuStylePid" name="FateCatePid" value="@(Model.MenuStylePid)">
                                <div hidden class="form-group row">
                                    <div class="col-4 col-md-4 col-sm-6">
                                        <label for="Point">Level</label>
                                        <input required type="text" class="form-control " id="Level" value="@Model.Level" name="Level" aria-describedby="Point" placeholder="nhập level...">

                                    </div>
                                </div>
   
                                <div class="form-group">
                                    <label for="Content">Menu Item Block</label>

                                    @{

                                        CodeMirrorModel codeMirrorItemBlock = new CodeMirrorModel();
                                        codeMirrorItemBlock.Id = "ItemBlock";
                                        codeMirrorItemBlock.Content = Model.ItemBlock;
                                    }
                                    @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.CodeMirrorComponent), codeMirrorItemBlock)
                                </div>
                                <div class="col-12 d-flex justify-content-end">
                                    <button type="button" onclick="_action.SaveChild('MenuItemStyleForm')" class="btn btn-primary me-1 mb-1">
                                        @(Model.Pid == 0 ? "Add" : "Update")
                                    </button>
                                </div>
                                @*</div>*@

                            </div>
                        </div>
                    </form>

                </div>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>