@using CMS.Services.TranslateServices;
@using CMS.Services
@inject ITranslateServices _translate

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Meta{
    @Html.Raw(ViewBag.Meta)
}
<div class="container py-5 py-xl-6 container-404">
    <div class="row align-items-center g-4">
        <div class="col-12 col-md-6">
            <img src="/css/skin/404.jpg" />
        </div>
        <div class="col-12 col-md-6">
            <h3 class="heading text-center text-md-start mb-2">
                Oops! Something goes wrong...
            </h3>
            <div class="desc text-center text-md-start fw-light mb-3">
                <span class="fw-medium">
                    @Html.Raw(_translate.GetString("error.something-wrong"))
                </span>
                @Html.Raw(_translate.GetString("error.something-wrong-desc"))
            </div>
            <div class="text-center text-md-start">
                <a class="btn btn-secondary fw-normal btn-icon"
                   alt="@Html.Raw(_translate.GetString("menu.home"))"
                   title="@Html.Raw(_translate.GetString("menu.home"))"
                   href="@Html.Raw(_translate.GetUrl("url.home"))">
                    <span><i class="far fa-home-alt me-2"></i>@Html.Raw(_translate.GetString("error.home"))</span>
                </a>
            </div>
        </div>
    </div>
</div>