@using ComponentUILibrary.Models;
@using Steam.Core.Common;

@using ConfigAdmin = Admin.LayoutPage.Constants.FooterPageConstants.Config.Admin
@model List<ComponentUILibrary.ViewComponents.ConfigModel>
@using static Admin.LayoutPage.Constants.FooterPageConstants

@using WebSiteConfig = Admin.LayoutPage.Constants.FooterPageConstants.Config.Website;
@using AdminConfig = Admin.LayoutPage.Constants.FooterPageConstants.Config.Admin;
<div class="card">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills" role="tablist">
            <li class="nav-item" role="presentation">
                <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-within-card-adminconfig" aria-controls="navs-pills-within-card-active" aria-selected="true">Admin</button>
            </li>
            <li class="nav-item" role="presentation">
                <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-within-card-websiteconfig" aria-controls="navs-pills-within-card-link" aria-selected="false" tabindex="-1">Website</button>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content p-0">
            <div class="tab-pane fade active show" id="navs-pills-within-card-adminconfig" role="tabpanel">
                <form id="Admin_FooterPageConfig" class="form form-vertical mt-3">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="PageSize">PageSize</label>
                                    <input data-toggle="tooltip" data-placement="top" title="PageSize" type="text" id="@AdminConfig.PageSize" class="form-control" value="@Model.GetConfigValue(AdminConfig.PageSize)" name="@AdminConfig.PageSize" placeholder="PageSize">
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-end">
                                <button type="button" onclick="_action_FooterPage.SaveConfig('Admin_FooterPageConfig','Admin')" class="btn btn-primary me-1 mb-1">Apply</button>
                                @*                                        <button type="reset" class="btn btn-light-secondary me-1 mb-1">Default</button>
                                *@
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="navs-pills-within-card-websiteconfig" role="tabpanel">
                <form id="Website_FooterPageConfig" class=" mt-3 form form-vertical">
                    <div class="form-body">

                        <div class="row">
                            <div class="col-12">

                                <div class="form-group">
                                    <label for="ApiUpdateFooterPage">Api cập nhật footer</label>
                                    <input data-toggle="tooltip" data-placement="top" title="ApiUpdateFooterPage" type="text" id="@Config.Website.ApiUpdateFooterPage" class="form-control" value="@Model.GetConfigValue(WebSiteConfig.ApiUpdateFooterPage)" name="@Config.Website.ApiUpdateFooterPage" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="ApiUpdateFooterPage">Api cập nhật preview footer</label>
                                    <input data-toggle="tooltip" data-placement="top" title="ApiUpdatePreviewFooterPage" type="text"
                                           id="@Config.Website.ApiUpdatePreviewFooterPage"
                                           class="form-control"
                                           value="@Model.GetConfigValue(WebSiteConfig.ApiUpdatePreviewFooterPage)"
                                           name="@Config.Website.ApiUpdatePreviewFooterPage" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="ApiRevertFooterPage">Api khôi phục footer</label>
                                    <input data-toggle="tooltip"
                                           data-placement="top"
                                           title="ApiRevertFooterPage" type="text"
                                           id="@Config.Website.ApiRevertFooterPage" class="form-control"
                                           value="@Model.GetConfigValue(WebSiteConfig.ApiRevertFooterPage)"
                                           name="@Config.Website.ApiRevertFooterPage" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="ApiPreviewPage">Api Preview Page</label>
                                    <input data-toggle="tooltip"
                                           data-placement="top"
                                           title="ApiPreviewPage" type="text"
                                           id="@Config.Website.ApiPreviewPage" class="form-control"
                                           value="@Model.GetConfigValue(WebSiteConfig.ApiPreviewPage)"
                                           name="@Config.Website.ApiPreviewPage" placeholder="">
                                </div>
                            </div>

                            <div class="col-12 d-flex justify-content-end">
                                <button type="button" onclick="_action_FooterPage.SaveConfig('Website_FooterPageConfig','Webiste')" class="btn btn-primary me-1 mb-1">Aply</button>
                                @*                                        <button type="reset" class="btn btn-light-secondary me-1 mb-1">Default</button>
                                *@
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
