@using Admin.LayoutPage.Constants;
@using Admin.LayoutPage.Constants;
@using ComponentUILibrary.Models
@model Admin.LayoutPage.Controllers.MenuPageModel

<form id="uploadForm" class="mt-2">

    <div class="mt-2">
        <input hidden id="Pid" class="pid" name="Pid" value="@Model.MenuModel.Pid">
        <input hidden id="ParentID" class="" name="ParentID" value="@Model.MenuModel.ParentID">
        <div class="row">
            @if (Model.MenuModel.Pid == 0)
            {

                <div class="form-group col-md-6 ">
                    <label for="ParentID">Menu cha</label>

                    @{

                        TreeSelectModel treeSelectModel = new TreeSelectModel();
                        treeSelectModel.ID = "SubCate";
                        treeSelectModel.Class = "";
                        treeSelectModel.SelectedValue = Model.MenuModel.ParentID.ToString();
                        treeSelectModel.FirstLoadLib = true;
                        treeSelectModel.isSingleSelect = true;
                        treeSelectModel.MapToObj(Model.ListParentId, "Value", "Name", "ParrentID", "Order", "Enabled", null);
                    }
                    @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.TreeSelectComponent), new { model = treeSelectModel })
                </div>

            }  
            @if (Model.MenuModel.ParentID == 0)
            {
                <div class="form-group col-md-6 col-sm-12">
                    <label for="title">Kiểu menu</label>

                    @{

                        NiceSelectModel selectModel = new NiceSelectModel();
                        selectModel.Data = Model.ListMenuStyles;
                        selectModel.Id = "MenuStylePid";
                        selectModel.Search = 1;
                        selectModel.Size = "small";
                        selectModel.Class = "form-group col-md-3 col-sm-12 nice-select sample-nice-select";
                        selectModel.IsRequire = true;
                        selectModel.DefaultValue = "0";
                        selectModel.DefaultText = "--Kiểu menu--";
                        selectModel.SelectedValue = Model.MenuModel.MenuStylePid.ToString();
                    }
                    @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.Select2Component), new { model = selectModel })
                </div>
            }
        </div>

    <div class="row">

        <div class="form-group col-md-6 col-sm-12">
            <label for="title">Tiêu đề</label>
            <input required type="text" class="form-control" id="Title" value="@Model.MenuModel.Title" name="Title" aria-describedby="title" placeholder="nhập tiêu đề...">
        </div>
        <div class="form-group col-md-6 col-sm-12">
            <label for="title">URL</label>
            <input type="text" class="form-control" id="URl" value="@Model.MenuModel.URL" name="URL" aria-describedby="URL" placeholder="nhập url...">
        </div>

        @*<div hidden class="form-group col-md-3 col-sm-12">
            <label for="Event">Show Level</label>
            <input required type="text" class="form-control" id="ShowLevel" value="@Model.MenuModel.Detail.ShowLevel" name="ShowLevel" aria-describedby="ShowLevel" placeholder="nhập cấp...">
        </div>*@



    </div>

        <div class="row">
            <div class="form-group col-md-6 col-sm-12">
                <label for="title">Icon</label>
                <input type="text" class="form-control" id="Icon" value="@Model.MenuModel.Icon" name="Icon" aria-describedby="Icon" placeholder="nhập icon...">
            </div>
            <div class="form-group col-md-6 col-sm-12">
                <label for="Event">Event</label>
                <input type="text" class="form-control" id="Event" value="@Model.MenuModel.Event" name="Event" aria-describedby="Event" placeholder="nhập event...">
            </div>

        </div>
    </div>



    


</form>