@model Admin.WebSetting.Controllers.PageModel
@using ComponentUILibrary.Models
@using Admin.WebSetting.Constants
@{
    string getValue(string key)
    {
        if (Model.EditModel.ContainsKey(key))
        {
            return Model.EditModel[key];
        }
        else
        {
            return "";
        }
    }
}
<div class="row m-3">
    <div class="col-md-6">

        <div class="col-md-12">
            <div class="form-group">
                <label for="@WebSettingConstants.ConfigName.WebsiteName">Tên website</label>
                <input type="text" class="form-control" id="@WebSettingConstants.ConfigName.WebsiteName" value="@getValue(WebSettingConstants.ConfigName.WebsiteName)" name="@WebSettingConstants.ConfigName.WebsiteName"
                       placeholder="CMS | Giải pháp CMS" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="@WebSettingConstants.ConfigName.RootDomain">Domain client</label>
                <input type="text" class="form-control" id="@WebSettingConstants.ConfigName.RootDomain" value="@getValue(WebSettingConstants.ConfigName.RootDomain)" name="@WebSettingConstants.ConfigName.RootDomain"
                       placeholder="https://domain.com" />
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="@WebSettingConstants.ConfigName.WebsiteDescription">Mô tả</label>
                <textarea rows="5" type="text" class="form-control" id="@WebSettingConstants.ConfigName.WebsiteDescription" name="@WebSettingConstants.ConfigName.WebsiteDescription"
                          placeholder="nhập mô tả...">@getValue(WebSettingConstants.ConfigName.WebsiteDescription)</textarea>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <div class="form-group">
                    <label for="ExtraMeta">Meta Extra</label>
                    @{

                        CodeMirrorModel codeMirrorExtraMeta = new CodeMirrorModel();
                        codeMirrorExtraMeta.Id = "WebsiteMetaExtra";
                        codeMirrorExtraMeta.FirstLoadLib = true;
                        codeMirrorExtraMeta.Content = getValue(WebSettingConstants.ConfigName.WebsiteMetaExtra);
                    }
                    @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.CodeMirrorComponent), codeMirrorExtraMeta)
                </div>

            </div>
        </div>
       

    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="Content">Meta</label>  


            @{

                CodeMirrorModel codeMirrorWebsiteMeta = new CodeMirrorModel();
                codeMirrorWebsiteMeta.Id = "WebsiteMeta";
                codeMirrorWebsiteMeta.Content = getValue(WebSettingConstants.ConfigName.WebsiteMeta);
            }
            @await Component.InvokeAsync(nameof(ComponentUILibrary.ViewComponents.CodeMirrorComponent), codeMirrorWebsiteMeta)
        </div>
    </div>
</div>