@model Admin.WebSetting.Controllers.PageModel
@using ComponentUILibrary.Models
@using Admin.WebSetting.Constants
@{
    string getValue(string key)
    {
        if (Model.EditModel.ContainsKey(key))
        {
            return Model.EditModel[key];
        }
        else
        {
            return "";
        }
    }
}
<div class="row m-3">
    <div class="col-md-2">

        <div class="form-check form-switch" style="margin-top:25px">
            <input onclick="" class="cursor-pointer form-check-input" type="checkbox" @(getValue(WebSettingConstants.ConfigName.Recaptcha) == "on" ? "checked" : "") name="Recaptcha" id="Recaptcha" />
            <label class="form-check-label" for="formSwitchDefault">ReCaptcha</label>

        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label for="@WebSettingConstants.ConfigName.ReCAPTCHASite">ReCAPTCHASite</label>
            <input type="text" class="form-control" id="@WebSettingConstants.ConfigName.ReCAPTCHASite" value="@getValue(WebSettingConstants.ConfigName.ReCAPTCHASite)" name="@WebSettingConstants.ConfigName.ReCAPTCHASite" />
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label for="@WebSettingConstants.ConfigName.ReCAPTCHASecret">ReCAPTCHASecret</label>
            <input type="text" class="form-control" id="@WebSettingConstants.ConfigName.ReCAPTCHASecret" value="@getValue(WebSettingConstants.ConfigName.ReCAPTCHASecret)" name="@WebSettingConstants.ConfigName.ReCAPTCHASecret" />
        </div>
    </div>


</div>
<div class="row m-3">
    <div class="col-md-2">

        <div class="form-check form-switch" style="margin-top:25px">
            <input onclick="" class="cursor-pointer form-check-input" type="checkbox" name="Robots" @(getValue(WebSettingConstants.ConfigName.Robots) == "on" ? "checked" : "") id="Robots" />
            <label class="form-check-label" for="Recaptcha">Robots.txt</label>

        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="@WebSettingConstants.ConfigName.TextRobotsOn">Meta Robots On</label>
            <textarea rows="5" type="text" class="form-control" id="@WebSettingConstants.ConfigName.TextRobotsOn" name="@WebSettingConstants.ConfigName.TextRobotsOn">@getValue(WebSettingConstants.ConfigName.TextRobotsOn)</textarea>
        </div>

    </div>    <div class="col-md-3">
        <div class="form-group">
            <label for="@WebSettingConstants.ConfigName.TextRobotsOn">Meta Robots Off</label>
            <textarea rows="5" type="text" class="form-control" id="@WebSettingConstants.ConfigName.TextRobotsOff" name="@WebSettingConstants.ConfigName.TextRobotsOff">@getValue(WebSettingConstants.ConfigName.TextRobotsOff)</textarea>
        </div>

    </div>
    @*<div class="col-md-4">
        <div class="form-group">
            <label for="@WebSettingConstants.ConfigName.ApiUpdateRobots">Api cập nhật robots.txt</label>
            <input type="text" class="form-control" id="@WebSettingConstants.ConfigName.ApiUpdateRobots" value="@getValue(WebSettingConstants.ConfigName.ApiUpdateRobots)" name="@WebSettingConstants.ConfigName.ApiUpdateRobots" />
        </div>

    </div>*@

</div>
@*<div class="row m-3">
    <div class="col-md-2"> &ensp;</div>
    <div class="col-md-5">
        <div class="form-group">
            <label for="@WebSettingConstants.ConfigName.ApiGetUserOnline">Api GetUserOnline</label>
            <input type="text" class="form-control" id="@WebSettingConstants.ConfigName.ApiGetUserOnline" value="@getValue(WebSettingConstants.ConfigName.ApiGetUserOnline)" name="@WebSettingConstants.ConfigName.ApiGetUserOnline" />
        </div>
    </div>

</div>*@
