@model Admin.WebSetting.Controllers.PageModel
@using ComponentUILibrary.Models
@using Admin.WebSetting.Constants
@{
    string getValue(string key)
    {
        if (Model.EditModel.ContainsKey(key))
        {
            return Model.EditModel[key];
        }
        else
        {
            return "";
        }
    }
}
<div class="mt-3">
    <div class="form-group">
        <label for="@WebSettingConstants.ConfigName.ApiUpdateRobots">Api cập nhật robots.txt</label>
        <input type="text" class="form-control" id="@WebSettingConstants.ConfigName.ApiUpdateRobots" value="@getValue(WebSettingConstants.ConfigName.ApiUpdateRobots)" name="@WebSettingConstants.ConfigName.ApiUpdateRobots" />
    </div>
    <div class="form-group">
        <label for="@WebSettingConstants.ConfigName.ApiUpdateHomePageMeta">Api cập nhật meta trang chủ</label>
        <input type="text" class="form-control" id="@WebSettingConstants.ConfigName.ApiUpdateHomePageMeta" value="@getValue(WebSettingConstants.ConfigName.ApiUpdateHomePageMeta)" name="@WebSettingConstants.ConfigName.ApiUpdateHomePageMeta" />
    </div>
    <div class="form-group">
        <label for="@WebSettingConstants.ConfigName.ApiGetUserOnline">Api GetUserOnline</label>
        <input type="text" class="form-control" id="@WebSettingConstants.ConfigName.ApiGetUserOnline" value="@getValue(WebSettingConstants.ConfigName.ApiGetUserOnline)" name="@WebSettingConstants.ConfigName.ApiGetUserOnline" />
    </div> 
    <div class="form-group">
        <label for="@WebSettingConstants.ConfigName.ApiUpdateVariableStyle">Api UpdateVariableStyle</label>
        <input type="text" class="form-control" id="@WebSettingConstants.ConfigName.ApiUpdateVariableStyle" value="@getValue(WebSettingConstants.ConfigName.ApiUpdateVariableStyle)" name="@WebSettingConstants.ConfigName.ApiUpdateVariableStyle" />
    </div>  
    <div class="form-group">
        <label for="@WebSettingConstants.ConfigName.ApiUpdateWebconfigValue">Api UpdateWebconfigValue</label>
        <input type="text" class="form-control" id="@WebSettingConstants.ConfigName.ApiUpdateWebconfigValue" value="@getValue(WebSettingConstants.ConfigName.ApiUpdateWebconfigValue)" name="@WebSettingConstants.ConfigName.ApiUpdateWebconfigValue" />
    </div>  
    <div class="form-group">
        <label for="@WebSettingConstants.ConfigName.ApiUpdateWebsiteCustomStyle">Api UpdateWebsiteCustomStyle</label>
        <input type="text" class="form-control" id="@WebSettingConstants.ConfigName.ApiUpdateWebsiteCustomStyle" value="@getValue(WebSettingConstants.ConfigName.ApiUpdateWebsiteCustomStyle)" name="@WebSettingConstants.ConfigName.ApiUpdateWebsiteCustomStyle" />
    </div>   
    <div class="form-group">
        <label for="@WebSettingConstants.ConfigName.ApiGetTrafficReport">Api GetTrafficWebiste</label>
        <input type="text" class="form-control" id="@WebSettingConstants.ConfigName.ApiGetTrafficReport" value="@getValue(WebSettingConstants.ConfigName.ApiGetTrafficReport)" name="@WebSettingConstants.ConfigName.ApiGetTrafficReport" />
    </div>   
    <div class="form-group">
        <label for="@WebSettingConstants.ConfigName.ApiGetTraffic">Api GetTraffic</label>
        <input type="text" class="form-control" id="@WebSettingConstants.ConfigName.ApiGetTraffic" value="@getValue(WebSettingConstants.ConfigName.ApiGetTraffic)" name="@WebSettingConstants.ConfigName.ApiGetTraffic" />
    </div>
</div>