@using X.PagedList
@using Admin.ProductManagement.Models.ViewModels.MisaApiTracker;
@using Admin.ProductManagement.Constants;
@model MisaApiTrackerPagedViewModel;

@if (Model != null && Model.Items.Any())
{
    int stt = Model.PageNumber * Model.PageSize - Model.PageSize;
    foreach (var item in Model.Items)
    {
        stt = stt + 1;
        <tr id="@item.Pid">
            <td width="1">
                <div class="form-check form-check-sm handle">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="form-check-input form-check-primary form-check-glow checkItem" value="@item.Pid" id="checkItem_@item.Pid">
                    </div>
                </div>
            </td>
            <td class="text-bold-500">@Html.Raw(item.Name)</td>
            <td class="text-bold-500"><a href="#" onclick="navigator.clipboard.writeText('@(item.Endpoint)'); new CommonAdmin().ToastifyAlert('Copied!!!', '')">@Html.Raw(item.Endpoint)</a></td>
            <td class="text-bold-500">
                @(item.Method == "GET" ? Html.Raw("<span class='badge bg-info'>GET</span>") : Html.Raw("<span class='badge bg-warning'>POST</span>"))
            </td>
            <td class="text-bold-500">
                @(item.ResponseStatusCode == "200" ? Html.Raw("<span class='badge bg-success'>200</span>") : Html.Raw($"<span class='badge bg-danger'>{item.ResponseStatusCode}</span>"))
            </td>
            <td class="text-bold-500">@Html.Raw(item.RequestDate.ToString("dd/MM/yyyy HH:mm:ss"))</td>
            <td class="text-center">
                <a href="@Url.Content(MisaApiTrackerConstants.ConfigRoute.PageEdit)/@item.Pid"><i onclick="_action.Edit(@item.Pid)" class="cursor-pointer text-primary fas fa-edit"></i></a>
@*                <i onclick="_action.Delete(@item.Pid)" class="cursor-pointer  text-danger fas fa-trash-alt"></i>
*@            </td>
            <td class="handle td-handle">
                <i class="fas fa-grip-horizontal fa-rotate-90"></i>

            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="7" class="text-center">
            <span>Không có dữ liệu!!</span>
        </td>

    </tr>
}
