@using DTO;
@using CMS.Services.TranslateServices;
@using CMS.Services.CommonServices;
@using Microsoft.AspNetCore.Http
@inject ITranslateServices _translate
@inject ICommonServices _common
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContextAccessor
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Customer/Layout/_LayoutCustomer.cshtml";
    var lang = _httpContextAccessor.HttpContext.Session.GetString(ConstantStrings.WebsiteLang);
    if (string.IsNullOrEmpty(lang))
    {
        lang = ConstantStrings.DefaultLang;
    }
    string banner = ViewBag.Banner as string;
}



@section Meta {
    @Html.Raw(ViewBag.Meta)
}
@section Banner{
    <section class="banner-lg block-bg banner-page"
             style="background-image: url('@banner')">
        <div class="container d-flex">
            <div class="text-banner">
                <h1 class="tt-md f-secondary">@Html.Raw(_translate.GetString("menu.setting-account"))</h1>
                <nav arial-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="@Html.Raw(_translate.GetUrl("url.home"))" title="@Html.Raw(_translate.GetString("menu.home"))" alt="@Html.Raw(_translate.GetString("menu.home"))" target="_self">@Html.Raw(_translate.GetString("menu.home"))</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="@Html.Raw(_translate.GetUrl("url.setting-account"))" title="@Html.Raw(_translate.GetString("menu.setting-account"))" alt="@Html.Raw(_translate.GetString("menu.setting-account"))" target="_self">@Html.Raw(_translate.GetString("menu.setting-account"))</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="@Html.Raw(_translate.GetUrl("url.change-password"))" title="@Html.Raw(_translate.GetString("menu.change-password"))" alt="@Html.Raw(_translate.GetString("menu.change-password"))" target="_self">@Html.Raw(_translate.GetString("menu.change-password"))</a>

                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>
}
<div class="mainbody mb-4 mb-md-0 order-md-2" data-mainbody>
    <div class="tt-lg tt-ss text-gradient mb-4">@Html.Raw(_translate.GetString("menu.change-password"))</div>
    <form class="form-validate material-form form-edit form-validate-password">
        <div class="row g-2 gx-3">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="password" class="form-control" name="CurrentPassword" id="CurrentPassword" required="" value="" data-parsley-required-message="Vui lòng nhập mật khẩu hiện tại"/>
                    <label for="CurrentPassword" class="label-text">@Html.Raw(_translate.GetString("user.old-password"))</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="password" class="form-control" name="NewPassword" id="NewPassword" required="" value="" data-parsley-required-message="Vui lòng nhập mật khẩu mới"/>
                    <label for="NewPassword" class="label-text">@Html.Raw(_translate.GetString("user.new-password"))</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <input type="password" class="form-control" data-parsley-equalto="#NewPassword" id="RePassword" name="RePassword" required="" value="" data-parsley-required-message="Vui lòng xác nhận mật khẩu mới" />
                    <label for="RePassword" class="label-text">@Html.Raw(_translate.GetString("user.confirm-password"))</label>
                </div>
            </div>
            <div class="col-12 text-end mt-4">
                <a id="btn_change_password" onclick="changePassword()" class="btn btn-primary px-4" href="javascript:void(0)" alt="Lưu" title="Lưu"><span>Lưu thay đổi</span></a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        initParsley(".form-validate-password", "@lang");

        $("body").on('keyup', function (e) {
            if (e.key === 'Enter' || e.keyCode === 13) {
                $('#btn_change_password').trigger('click')
            }
        });
    </script>
}
