@using DTO;
@using CMS.Services.TranslateServices;
@using CMS.Services.CommonServices;
@using Microsoft.AspNetCore.Http
@inject ITranslateServices _translate
@inject ICommonServices _common
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContextAccessor
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lang = _httpContextAccessor.HttpContext.Session.GetString(ConstantStrings.WebsiteLang);
    if (string.IsNullOrEmpty(lang))
    {
        lang = ConstantStrings.DefaultLang;
    }
    var linkPolicy = _common.GetConfigValue(ConstantStrings.KeyLinkPolicy);
}

@section Meta {
    @Html.Raw(ViewBag.Meta)
}

<section class="block-bg block-forgot">
    <div class="container container-content">
        <div class="card-forgot">
            <div class="title-box mb-4">
                <div class="tt-lg text-gradient text-uppercase">
                    @Html.Raw(_translate.GetString("user.forgot-password"))
                </div>
            </div>
            <form class="material-form form-validate form-validate-password" novalidate="" >
                <div class="row">
                    <div class="col-12">
                        <div class="desc mb-3 text-desc">
                            @Html.Raw(_translate.GetString("user.forgot-desc"))
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group mb-2">
                            <input type="email" class="form-control" id="Email" name="Email" required="" data-parsley-required-message="Vui lòng nhập email"/>
                            <label for="Email" class="label-text">Email</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="text-center mb-3">
                            <button type="submit" class="btn btn-primary d-block w-100 text-center rounded-2" id="btn_forgot_password">
                                Xác nhận
                            </button>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="text-center mt-2">
                            <a class="link" alt="Đăng nhập" tilte="Đăng nhập" href="@_translate.GetUrl("url.sign-in")">
                                <span class="me-1 fal fa-angle-left"></span>Quay về trang đăng nhập
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


@section Scripts {
    <script>
        initParsley(".form-validate-password", "@lang");

         $("body").on('keyup', function (e) {
            if (e.key === 'Enter' || e.keyCode === 13) {
                $('#btn_forgot_password').trigger('click')
            }
        });
    </script>
}
