@using Admin.HomePage.Constants;
@model List<Admin.HomePage.Database.HomePageConfig>;

<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header ">
                <button onclick="CloseSettingModal()" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                <h4 class="modal-title justify-content-center " id="myModalLabel2">Cài đặt</h4>
            </div>

            <div class="modal-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active " id="AdminConfigTab-tab" data-bs-toggle="tab" href="#AdminConfigTab" role="tab" aria-controls="AdminConfigTab" aria-selected="true">Admin</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link " id="WebsiteConfigTab-tab" data-bs-toggle="tab" href="#WebsiteConfigTab" role="tab" aria-controls="WebsiteConfigTab" aria-selected="false">Website</a>
                    </li>

                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="AdminConfigTab" role="tabpanel" aria-labelledby="AdminConfigTab-tab">
                        <form id="Admin_HomePageConfig" class="form form-vertical mt-3">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-12 row">
                                        <label for="MaxHeight">Kích thước hình tối đa</label>

                                        <div class="form-group col-5">
                                            <input data-toggle="tooltip" data-placement="top" title="MaxWidth" type="text" id="@HomePageConstants.Config.Admin.MaxWidth" value="@(Model.Where(p=>p.Key == HomePageConstants.Config.Admin.MaxWidth).FirstOrDefault() !=null?Model.Where(p=>p.Key == HomePageConstants.Config.Admin.MaxWidth).FirstOrDefault().Value:"")" class="form-control" name="@HomePageConstants.Config.Admin.MaxWidth" placeholder="MaxWidth">
                                        </div>
                                        <div class="form-group col-5">
                                            <input data-toggle="tooltip" data-placement="top" title="MaxHeight" type="text" id="@HomePageConstants.Config.Admin.MaxHeight" value="@(Model.Where(p=>p.Key == HomePageConstants.Config.Admin.MaxHeight).FirstOrDefault() !=null?Model.Where(p=>p.Key == HomePageConstants.Config.Admin.MaxHeight).FirstOrDefault().Value:"")" class="form-control" name="@HomePageConstants.Config.Admin.MaxHeight" placeholder="MaxHeight">
                                        </div>
                                    </div>
                                    <div class="col-12 row">
                                        <label for="ThumbHeight">Kích thước hình Thumb</label>

                                        <div class="form-group col-6">
                                            <input data-toggle="tooltip" data-placement="top" title="ThumbHeight" type="text" id="@HomePageConstants.Config.Admin.ThumbHeight" value="@(Model.Where(p=>p.Key == HomePageConstants.Config.Admin.ThumbHeight).FirstOrDefault() !=null?Model.Where(p=>p.Key == HomePageConstants.Config.Admin.ThumbHeight).FirstOrDefault().Value:"")" class="form-control" name="@HomePageConstants.Config.Admin.ThumbHeight" placeholder="ThumbHeight">
                                        </div>
                                        <div class="form-group col-6">
                                            <input data-toggle="tooltip" data-placement="top" title="ThumbWidth" type="text" id="@HomePageConstants.Config.Admin.ThumbWidth" class="form-control" value="@(Model.Where(p=>p.Key == HomePageConstants.Config.Admin.ThumbWidth).FirstOrDefault() !=null?Model.Where(p=>p.Key == HomePageConstants.Config.Admin.ThumbWidth).FirstOrDefault().Value:"")" name="@HomePageConstants.Config.Admin.ThumbWidth" placeholder="ThumbWidth">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="PageSize">PageSize</label>
                                            <input data-toggle="tooltip" data-placement="top" title="PageSize" type="text" id="@HomePageConstants.Config.Admin.PageSize" class="form-control" value="@(Model.Where(p=>p.Key == HomePageConstants.Config.Admin.PageSize).FirstOrDefault() !=null?Model.Where(p=>p.Key == HomePageConstants.Config.Admin.PageSize).FirstOrDefault().Value:"")" name="@HomePageConstants.Config.Admin.PageSize" placeholder="PageSize">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="Config1">Thêm config</label>
                                            <input data-toggle="tooltip" data-placement="top" title="Config1" type="text" id="@HomePageConstants.Config.Admin.Config1" class="form-control" value="@(Model.Where(p=>p.Key == HomePageConstants.Config.Admin.Config1).FirstOrDefault() !=null?Model.Where(p=>p.Key == HomePageConstants.Config.Admin.Config1).FirstOrDefault().Value:"")" name="@HomePageConstants.Config.Admin.Config1" placeholder="Config1">
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="button" onclick="_action.SaveConfig('Admin_HomePageConfig','Admin')" class="btn btn-primary me-1 mb-1">Apply</button>
@*                                        <button type="reset" class="btn btn-light-secondary me-1 mb-1">Default</button>
*@                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade " id="WebsiteConfigTab" role="tabpanel" aria-labelledby="WebsiteConfigTab-tab">
                        <form id="Website_HomePageConfig" class=" mt-3 form form-vertical">
                            <div class="form-body">

                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="PageSize">PageSize</label>
                                            <input data-toggle="tooltip" data-placement="top" title="PageSize" type="text" id="@HomePageConstants.Config.Website.PageSize" class="form-control" value="@(Model.Where(p=>p.Key == HomePageConstants.Config.Website.PageSize).FirstOrDefault() !=null?Model.Where(p=>p.Key == HomePageConstants.Config.Website.PageSize).FirstOrDefault().Value:"")" name="@HomePageConstants.Config.Website.PageSize" placeholder="PageSize">
                                        </div>
                                        <div class="form-group">
                                            <label for="PreSlug">PreSlug</label>
                                            <input data-toggle="tooltip" data-placement="top" title="PreSlug" type="text" id="@HomePageConstants.Config.Website.PreSlug" class="form-control" value="@(Model.Where(p=>p.Key == HomePageConstants.Config.Website.PreSlug).FirstOrDefault() !=null?Model.Where(p=>p.Key == HomePageConstants.Config.Website.PreSlug).FirstOrDefault().Value:"")" name="@HomePageConstants.Config.Website.PreSlug" placeholder="PreSlug">
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="button" onclick="_action.SaveConfig('Website_HomePageConfig','Webiste')" class="btn btn-primary me-1 mb-1">Aply</button>
@*                                        <button type="reset" class="btn btn-light-secondary me-1 mb-1">Default</button>
*@                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>
