@using ComponentUILibrary.Models
@model RadioModel
@{
    //var a = Model.PageIndex;k
}

<div class="@Model.Class" style="@Model.Style">
    @foreach (var item in Model.Items)
    {

            <div class="form-check col-auto ml-2">
                <input class="form-check-input" type="radio" name="@(Model.Id)_radio" value="@item.Value" id="@item.Id" @(Model.SelectedValue == item.Value?"checked":"")>
                <label class="form-check-label" for="@item.Id">
                    @item.Text
                </label>
            </div>
        

    }
    <input hidden name="@Model.Id" id="@Model.Id" value="@Model.SelectedValue" />

</div>
<script>
    $('input[type=radio][name=@(Model.Id)_radio]').change(function() {
        var value = document.querySelector('input[name="@(Model.Id)_radio"]:checked').value;
        $("#@Model.Id").val(value);
    });

</script>