@using X.PagedList
@using Admin.FooterPage.Constants
@{
    var CDN_HOST = "";
}

@model IPagedList<Admin.FooterPage.Database.FooterPage>;
@if (Model != null && Model.Any())
{

    int stt = Model.PageNumber*Model.PageSize -Model.PageSize;
    foreach (var item in Model)
    {
        stt= stt+1;
        <tr id="@item.Pid" class="">
            <td width="1">
                <div class="form-check form-check-sm ">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="form-check-input form-check-primary form-check-glow checkItem" value="@item.Pid" id="checkItem_@item.Pid">
                    </div>
                </div>
            </td>
            <td width="1"><input tabindex="@(item.Order+1000)" onchange="_action_FooterPage.UpdateOrder(@item.Pid,this.value)" type="number" class="form-control-sm order-input  form-control-plaintext" value="@stt" disabled /></td>

            <td><a href="@FooterPageConstants.Config.Route.PageEdit/@item.Pid" class="cursor-pointer  @(item.Enabled==true?"text-primary":"text-mute") ">@item.Name</a></td>


            <td>
                <div class="form-check form-switch">
                    <input onclick="_action_FooterPage.Enable(@item.Pid,@(item.Enabled==true?"false":"true"))" class="cursor-pointer form-check-input" type="checkbox" id="flexSwitchCheckChecked" @(item.Enabled == true ? "checked" : "")>
                </div>
            </td>
            <td class="text-center">
                <a href="@FooterPageConstants.Config.Route.PageEdit/@item.Pid"><i onclick="_action_FooterPage.Edit(@item.Pid)" class="cursor-pointer text-primary fas fa-edit"></i></a>
                <i onclick="_action_FooterPage.Delete(@item.Pid)" class="cursor-pointer  text-danger fas fa-trash-alt"></i>
            </td>
            <td class="handle td-handle">
                <i class="fas fa-grip-horizontal fa-rotate-90"></i>

            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="7" class="text-center">
            <span>Không có dữ liệu!!</span>
        </td>

    </tr>
}
